@(errorString: String = "", ex: Throwable = null, isAdmin: Boolean = false)(implicit request: RequestHeader)
@theLink = { <a href="@routes.StartPageController.index()">@Messages("error.linkhome")</a> }

@main(Messages("error.title")) {

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="page-header">
                    <h1>@Messages("error.header")</h1>
                </div>
                <p>@Html(Messages("error.body", theLink))</p>

                @if((ex != null || !errorString.isEmpty) && isAdmin) {
                    <div class="panel-group big-margin-top" id="accordion">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Error message details</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @if(!errorString.isEmpty) {
                                        @errorString
                                    }
                                    @if(ex != null){
                                        <strong>Error Message:</strong> @ex.getMessage<br>
                                        <strong>Request Uri:</strong> @request.uri
                                        <hr>
                                        @ex.getStackTraceString
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}