@(errorString: String = "", ex: Throwable = null)(implicit request: RequestHeader)
@theLink = { <a href="@routes.StartPageController.index()">@Messages("error.linkhome")</a> }

@main(Messages("error.title")) {

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="page-header">
                    <h1>@Messages("error.header")</h1>
                </div>
                <p>@Html(Messages("error.body", theLink))</p>
                <hr>

                @if(ex != null) {
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Show exception message</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @ex.getMessage
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Show stack trace</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                @ex.getStackTraceString
                                </div>
                            </div>
                        </div>

                    </div>
                }

                @if(!errorString.isEmpty) {
                    <div class="panel-group" id="accordionString">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionString" href="#collapseStringOne">Show error message</a>
                                </h4>
                            </div>
                            <div id="collapseStringOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @errorString
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner("images/banners/banner-0001.png","http://www.bannertarget.se","Senaste nyheterna","Senaste nyheterna")
            </div>
        </div>
    </div>
}