@(refUrl: String)(implicit request: RequestHeader)
@theLink = { <a href="@routes.StartPageController.index()">@Messages("notfound.linkhome")</a> }

@main(Messages("notfound.title")) {

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="page-header">
                    <h1>@Messages("notfound.header")</h1>
                </div>
                <p>@Html(Messages("notfound.body", refUrl, theLink))</p>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}