@(urlTitle: String,
        menuHeader: String = "",
        menuList: Option[List[models.viewmodels.MenuItem]] = None,
        column1Header: String = "",
        column1PreAmble: String = "",
        column1Body: String = "",
        currentUser: Option[models.UserCredential]
        )(implicit request: RequestHeader, messages: Messages)

    @scripts = {
        $(document).ready(function() {
            var config = Object.create(null);
            config.url = '@{routes.SuggestController.suggestForm()}';
            $(".suggest-form").html(getAjax(configRecipe));
        });
    }

@main(urlTitle, footerScripts = scripts) {

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 pull-right @if(menuList.isEmpty){col-md-12}else{col-md-9}">
                        @if(!column1Header.isEmpty){ <h1 class="page-header">@column1Header</h1> }
                        @if(!column1PreAmble.isEmpty){ <div class="lead">@Html(column1PreAmble)</div> }
                        @if(!column1Body.isEmpty){ <div class="content-body">@Html(column1Body)</div> }
                        @if(urlTitle.equalsIgnoreCase(Messages("aboutus.title"))) {
                            <div class="suggest-form"></div>
                        }
                    </div>
                    @contentcolumns.columnitems.menu(asideHeader = menuHeader, asideMenu = menuList)
                </div>
            </div>
            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>
        </div>
    </div>
}