@(urlTitle: String, menuHeader: String = "", menuList: List[models.content.MenuItem] = Nil, column1Header: String = "", column1Body: String = "", column2Header: String = "", column2Body: String = "")(implicit request: RequestHeader)

@main(urlTitle) {

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 @if(menuList.isEmpty){col-md-6}else{col-md-4}">
                        @if(!column1Header.isEmpty){ <h1 class="page-header">@column1Header</h1> }
                        @if(!column1Body.isEmpty){ <div class="content-body">@column1Body</div> }
                    </div>
                    <div class="col-xs-12 @if(menuList.isEmpty){col-md-6}else{col-md-4}">
                        @if(!column2Header.isEmpty){ <h1 class="page-header">@column2Header</h1> }
                        @if(!column1Body.isEmpty){ <div class="content-body">@column1Body</div> }
                    </div>
                    @contentcolumns.columnitems.menu(asideHeader = menuHeader, asideMenu = menuList)
                </div>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner("images/banners/banner-0001.png","http://www.bannertarget.se","Senaste nyheterna","Senaste nyheterna")
            </div>
        </div>
    </div>
}