@(userCredForm: Form[models.viewmodels.UserCredentialForm])(implicit flash: Flash)
@import helper.twitterBootstrap._

@mainedit(Messages("edit.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("edit.usercredential.add.header")</h1>
            @helper.form(action=routes.UserCredentialController.editSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                <fieldset>
                    @helper.inputText(userCredForm("firstname"), '_label -> Messages("edit.usercredential.add.firstname"), '_help -> Messages("edit.usercredential.add.firstname.validation"))
                    @helper.inputText(userCredForm("lastname"), '_label -> Messages("edit.usercredential.add.lastname"), '_help -> Messages("edit.usercredential.add.lastname.validation"))
                    @helper.inputText(userCredForm("emailaddress"), '_label -> Messages("edit.usercredential.add.emailaddress"), '_help -> Messages("edit.usercredential.add.emailaddress.validation"))
                    @helper.inputHidden(userCredForm("id"))
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@Messages("edit.add.save")</button>
                    <a class="btn" href="@routes.UserCredentialController.index()">@Messages("edit.add.abort")</a>
                </div>
            }
        </div>
    </div>

}