@(worlds: List[models.World], path: List[models.World])(implicit request: RequestHeader, messages: Messages)

@main("Worlds page"){
    <ul>
    @for(world <- worlds) {
        <li>WorldID: @world.objectId<br>
            World name: @world.name<br>
            Spoken languages: @world.spokenLanguage<br>
            Nr of moons: @world.moons<br>
            @for(otherWorld: World <- world.reachableByRocket) {
                Reachable by rocket: @otherWorld.name<br>
                }
            <br>
        </li>
    }
    </ul>
    <ul>
        @for(pathWorld <- path) {
            <li><a href="#">@pathWorld.name</a></li>
        }
    </ul>
}
