@(searchForm: Form[models.formdata.SearchStartPageForm],
        optionsFoodAreas: Option[Seq[(String,String)]],
        optionsLocationAreas: Option[Seq[(String,String)]] = None,
        optionsIsHost: Option[Boolean] = None,
        eventBoxes: Option[List[models.viewmodels.BrowseEventBox]],
        profileBoxes: Option[List[models.viewmodels.BrowseProfileBox]],
        reviewBoxes: Option[List[models.viewmodels.ReviewBox]],
        asideNews: Option[List[models.content.ContentPage]],
        news: Option[List[models.content.ContentPage]],
        currentUser: Option[UserCredential])(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.versioned("js/libs/twitter-bootstrap-wizard-1.0.0/jquery.bootstrap.wizard.min.js")"></script>
    <script src="@routes.Assets.versioned("js/app/startpage.js")"></script>
}

@main(Messages("startpage.title"), footerScripts = scripts.asInstanceOf[play.twirl.api.Html]) {

    <div class="container maincontent-container">

        <div class="row margin-top">
            <div class="col-xs-12 col-md-5">
                @startpage.asideNews(asideNews)
            </div>
            <div class="col-xs-12 col-md-7">
            @startpage.video(currentUser)
            </div>

            @if(currentUser.isEmpty) {
                <div class="col-xs-12 col-sm-10 col-sm-push-1">
                    <p><a class="btn btn-primary btn-lg btn-big-padding btn-block" role="button" href="@securesocial.controllers.routes.LoginPage.login">@Messages("startpage.main-content.body.btn.signup")</a></p>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header page-header-small-margin-top"><span class="glyphicon glyphicon-calendar"></span>&nbsp;@Messages("event.event-list.header")</h2>
            </div>
            <div class="col-xs-12 col-md-9">
                @startpage.eventFiltering(searchForm, optionsFoodAreas, optionsLocationAreas)
                @startpage.eventList(eventBoxes)
            </div>
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner(showBannerHeader = false)
            </div>
        </div>

        @if(currentUser.isEmpty) {
            <!-- CTA -->
            <div class="row big-margin-top">
                <div class="col-xs-12 col-sm-10 col-sm-push-1 panel-cta">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-cta"><p class="text-cta">@Messages("startpage.main.cta.text")</p></div>
                        <div class="col-xs-12 col-sm-5 col-cta text-right"><a class="btn btn-primary btn-lg btn-big-padding btn-cta" role="button" href="@securesocial.controllers.routes.LoginPage.login">@Messages("startpage.main.cta.link.text")</a></div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-6">
                @if(reviewBoxes.nonEmpty){
                    <!-- Reviews -->
                    <div class="row">
                        <div class="col-xs-12"><h2 class="page-header"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;@Messages("startpage.reviews.users.header")</h2></div>
                        @shared.reviewBox(reviewBoxes.get)
                    </div>
                }
                @startpage.news(news)
                @if(currentUser.isEmpty) {
                    <div class="row">
                        <div class="col-xs-12">
                            <p><a class="btn btn-primary btn-lg btn-big-padding btn-block" role="button" href="@securesocial.controllers.routes.LoginPage.login">@Messages("startpage.main-content.body.btn.signup")</a></p>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-md-6">
                @startpage.profileFiltering(searchForm, optionsFoodAreas, optionsLocationAreas, optionsIsHost)
                @startpage.profileList(profileBoxes)
            </div>
        </div>

    </div>

}
