@(searchForm: Form[models.viewmodels.SearchStartPageForm],
        optionsFoodAreas: Option[Seq[(String,String)]],
        optionsLocationAreas: Option[Seq[(String,String)]] = None,
        startPageBoxes: Option[List[models.viewmodels.StartPageBox]],
        reviewBoxes: Option[List[models.viewmodels.ReviewBox]])(implicit request: RequestHeader)
@import helper.twitterBootstrap._

@main(Messages("startpage.title")) {

    @* Functional carousel, now disabled
    <div id="carousel-startpage" class="carousel slide" data-ride="carousel" data-interval="4000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-startpage" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-startpage" data-slide-to="1"></li>
            <li data-target="#carousel-startpage" data-slide-to="2"></li>
            <li data-target="#carousel-startpage" data-slide-to="3"></li>
            <li data-target="#carousel-startpage" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                @shared.img("images/startpage/startpage-carousel-image-03.jpg", alt = "")
                <div class="carousel-caption green-bg right-align animated fadeInRightBig">
                    <h2>Home Dining Club</h2>
                    <p>Vad är det?</p>
                    <p><a class="btn btn-lg btn-primary" href="@routes.UserProfileController.index()" role="button">Bli medlem!</a></p>
                </div>
            </div>
            <div class="item">
                @shared.img("images/startpage/startpage-carousel-image-04.jpg", alt = "")
                <div class="carousel-caption green-bg right-align animated fadeInRightBig">
                    <h2>Slipp Disken</h2>
                    <p>Ät hemma hos någon!</p>
                    <p><a class="btn btn-lg btn-primary" href="@routes.ContentController.aboutUs()" role="button">Hur fungerar det?</a></p>
                </div>
            </div>
            <div class="item">
                @shared.img("images/startpage/startpage-carousel-image-02.jpg", alt = "")
            </div>
            <div class="item">
                @shared.img("images/startpage/startpage-carousel-image-05.jpg", None, None, "")
                <div class="carousel-caption green-bg left-align animated fadeInLeftBig">
                    <h2>Men kom ut någon gång!</h2>
                    <p>Sitt inte bara där!</p>
                </div>
            </div>
            <div class="item">
                @shared.img("images/startpage/startpage-carousel-image-06.jpg", alt = "")
                <div class="carousel-caption animated fadeInLeftBig">
                    <h2>Introduktions video</h2>
                    <iframe src="//player.vimeo.com/video/97540915?title=1&amp;byline=1&amp;portrait=1&amp;color=fafafa&amp;autoplay=0" width="293" height="165" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-startpage" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-startpage" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    *@

    <div class="container maincontent-container">
        <div class="row margin-top">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <!-- Filtering push -->
                    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 form-startpage-filter animated fadeInDownBig">
                    @helper.form(action=routes.StartPageController.filterProfiles(), 'class -> "form-horizontal"){
                        <div class="form-group">
                            @* @helper.inputText(searchForm("freeText"), '_label -> Messages("startpage.filterform.freetext")) *@
                            @if(!optionsFoodAreas.isEmpty){ <div class="col-xs-12 col-sm-4"> @helper.select(searchForm("foodArea"), optionsFoodAreas.get, '_label -> Messages("startpage.filterform.foodarea"), 'class -> "form-control") </div>}
                            @if(!optionsLocationAreas.isEmpty){ <div class="col-xs-12 col-sm-4"> @helper.select(searchForm("area"), optionsLocationAreas.get, '_label -> Messages("startpage.filterform.area"), 'class -> "form-control") </div> }
                            <div class="col-xs-12 col-sm-4 form-actions"><button class="btn btn-primary" type="submit">@Messages("startpage.filterform.submit")</button></div>
                        </div>
                        }
                    </div>
                </div>
                <!-- Boxes -->
                <div class="row margin-top">
                    @if(!startPageBoxes.isEmpty){

                        @*for( a <- 1 to 10){ *@
                            @startpage.startpageBox(startPageBoxes.get)
                        @*}*@
                    }
                </div>

                <!-- CTA -->
                <div class="row">
                    <div class="col-xs-12 big-margin-top panel-cta">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-cta"><p class="text-cta">@Messages("startpage.main.cta.text")</p></div>
                            <div class="col-xs-12 col-sm-5 col-cta text-right"><a class="btn btn-primary btn-lg btn-big-padding btn-cta" role="button" href="@securesocial.controllers.routes.LoginPage.login">@Messages("startpage.main.cta.link.text")</a></div>
                        </div>
                    </div>
                </div>

                <!-- Reviews -->
                <div class="row row-border-bottom">
                    @if(!reviewBoxes.isEmpty){
                        @for( a <- 1 to 10){
                            @startpage.reviewBox(reviewBoxes.get)
                        }
                    }
                </div>



                <div class="row big-margin-top">
                    <div class="col-xs-12">
                        <h1 class="page-header">@Messages("startpage.main-content.header")</h1>
                    </div>
                </div>

                <div class="row margin-top row-border-bottom">
                        <!-- Main intro -->
                    <div class="col-xs-12 col-md-6">
                        @Html(Messages("startpage.main-content.body"))
                        <p><a class="btn btn-primary btn-lg btn-big-padding btn-block" role="button" href="@securesocial.controllers.routes.LoginPage.login">@Messages("startpage.main-content.body.btn.signup")</a></p>
                    </div>

                        <!-- News -->
                    <div class="col-xs-12 col-md-6">
                        <aside>
                            @Html(Messages("startpage.main-aside.body"))
                            <iframe style="margin:0 auto; display:block;" src="//player.vimeo.com/video/97540915?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="100%" height="259" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </aside>
                    </div>
                </div>


                <!-- Functions -->
                @*<div class="col-xs-12 col-md-3">*@
                    @*<aside>*@
                        @*<h2>Funktioner</h2>*@

                    @*</aside>*@
                @*</div>*@
            </div>



            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>

}
