@(boxes: List[models.viewmodels.ProfileBox] = Nil)(implicit messages: Messages)

@if(boxes.nonEmpty) {
    @for(box: models.viewmodels.ProfileBox <- boxes){

        <div class="col-xs-12 col-sm-6">
            <a href="@box.linkToProfile">
                @defining( if(box.mainImage.isDefined){ "style=\"background-image: url('" + box.mainImage.get + "');background-size:100%;\"" } else { "" } ) { mainImage: String =>
                <div class="thumbnail panel-startpage hover-green-dropshadow" @Html(mainImage)>
                    @if(box.isHost){<div class="host-level-icon" data-toggle="tooltip" data-placement="right" title="@Messages("level.host.description", box.fullName)"><span class="icon"></span></div>}
                    <div class="body">
                        @shared.hostImageCircle(imagePath = box.userImage.getOrElse(""),cssClassWrapper = "white-border drop-shadow")
                        <h2>@box.fullName</h2>
                        <hr>
                        @if(box.location.nonEmpty) {
                            <p class="location">@Html(Messages("startpage.boxes.location", box.location.get))</p>
                        }else {
                        <p><br></p>
                        }
                        @shared.grade(inputId = "host-grade", initialValue = box.userRating, disabled = true, size = "xxs")
                        @*<div class="host-level-icon level-guest01" data-toggle="tooltip" data-placement="right" title="@Messages("level.guest.description")"><span>@Messages("level.guest.header")</span></div>*@
                    </div>
                </div>
                }
            </a>
        </div>
    }
}