@(boxes: List[models.viewmodels.StartPageBox] = Nil)

@if(!boxes.isEmpty) {
    @for(box: models.viewmodels.StartPageBox <- boxes){

        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0">
            <a href="@box.linkToProfile">
                @defining( if(box.mainImage.isDefined){ "style=\"background-image: url('" + box.mainImage.get + "')\"" } else { "" } ) { mainImage =>
                <div class="thumbnail panel-startpage" @Html(mainImage)>
                    <div class="body">
                        @if(box.userImage.isDefined){
                            @shared.hostImageCircle(box.userImage.get)
                        }else{
                            @shared.hostImageCircle()
                        }
                        <h2>@box.fullName</h2>
                        <hr>
                        <p class="location">@box.location<br></p>
                        @shared.grade(inputId = "host-grade", initialValue = box.userRating, disabled = true, size = "xxs")
                        <div class="host-level-icon level-guest01" data-toggle="tooltip" data-placement="right" title="@Messages("level.guest.description")"><span>@Messages("level.guest.header")</span></div>
                    </div>
                </div>
                }
            </a>
        </div>
    }
}