@*Working carousel, disabled
<div id="carousel-startpage" class="carousel slide" data-ride="carousel" data-interval="4000">

<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-startpage" data-slide-to="0" class="active"></li>
<li data-target="#carousel-startpage" data-slide-to="1"></li>
<li data-target="#carousel-startpage" data-slide-to="2"></li>
<li data-target="#carousel-startpage" data-slide-to="3"></li>
<li data-target="#carousel-startpage" data-slide-to="4"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
@shared.img("images/startpage/startpage-carousel-image-03.jpg", alt = "")
<div class="carousel-caption green-bg right-align animated fadeInRightBig">
<h2>Home Dining Club</h2>
<p>Vad är det?</p>
<p><a class="btn btn-lg btn-primary" href="@routes.UserProfileController.viewProfileByLoggedInUser()" role="button">Bli medlem!</a></p>
</div>
</div>
<div class="item">
@shared.img("images/startpage/startpage-carousel-image-04.jpg", alt = "")
<div class="carousel-caption green-bg right-align animated fadeInRightBig">
<h2>Slipp Disken</h2>
<p>Ät hemma hos någon!</p>
<p><a class="btn btn-lg btn-primary" href="@routes.UserProfileController.viewProfileByLoggedInUser()" role="button">Hur fungerar det?</a></p>
</div>
</div>
<div class="item">
@shared.img("images/startpage/startpage-carousel-image-02.jpg", alt = "")
</div>
<div class="item">
@shared.img("images/startpage/startpage-carousel-image-05.jpg", None, None, "")
<div class="carousel-caption green-bg left-align animated fadeInLeftBig">
<h2>Men kom ut någon gång!</h2>
<p>Sitt inte bara där!</p>
</div>
</div>
<div class="item">
@shared.img("images/startpage/startpage-carousel-image-06.jpg", alt = "")
<div class="carousel-caption animated fadeInLeftBig">
<h2>Introduktions video</h2>
<iframe src="//player.vimeo.com/video/97540915?title=1&amp;byline=1&amp;portrait=1&amp;color=fafafa&amp;autoplay=0" width="293" height="165" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-startpage" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-startpage" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>*@
