@()(implicit messages: Messages)
<div class="startpage-wizards-buttons">
    <h3 class="wizard-header">@Messages("startpage.wizard.header")</h3>
    <span class="wizard-lead">@Messages("startpage.wizard.lead")</span>
    <div class="guest-wizard animated bounceIn">
        <div class="select-step text-center">
            <a class="header" data-toggle="modal" data-target="#guest-wizard-modal" href="#guest-wizard">@Messages("startpage.wizard.guest.select-step.header")</a>
        </div>
    </div>
    <div class="host-wizard animated bounceIn" id="wizhtabsel">
        <div class="select-step text-center">
            <a class="header" data-toggle="modal" data-target="#host-wizard-modal" href="#host-wizard">@Messages("startpage.wizard.host.select-step.header")</a>
        </div>
    </div>
</div>