@()(implicit messages: Messages)
<div class="startpage-wizards">

    <div class="modal fade" id="guest-wizard-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-header wiz-modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-content">
                <section>
                    <div id="guest-wizard">
                        <ul class="hidden">
                            <li><a href="#wiztab1" data-toggle="tab">@Messages("startpage.wizard.tab.step1.header")</a></li>
                            <li><a href="#wiztab2" data-toggle="tab">@Messages("startpage.wizard.tab.step2.header")</a></li>
                            <li><a href="#wiztab3" data-toggle="tab">@Messages("startpage.wizard.tab.step3.header")</a></li>
                            <li><a href="#wiztab4" data-toggle="tab">@Messages("startpage.wizard.tab.step4.header")</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animated fadeIn" id="wiztab1">
                                @shared.img("images/startpage/wizard/guest-step1.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.guest.step1.header")</h2>
                                <p>@Messages("startpage.wizard.guest.step1.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wiztab2">
                                @shared.img("images/startpage/wizard/guest-step2.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.guest.step2.header")</h2>
                                <p>@Messages("startpage.wizard.guest.step2.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wiztab3">
                                @shared.img("images/startpage/wizard/guest-step3.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.guest.step3.header")</h2>
                                <p>@Messages("startpage.wizard.guest.step3.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wiztab4">
                                @shared.img("images/startpage/wizard/guest-step4.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.guest.step4.header")</h2>
                                <p>@Messages("startpage.wizard.guest.step4.body")</p>
                            </div>
                            </div>
                            <ul class="pager wizard">
                                <li class="previous" style="display: none"><a class="btn" href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;@Messages("startpage.wizard.pager.prev")</a></li>
                                <li class="next"><a class="btn" href="javascript:void(0);">@Messages("startpage.wizard.pager.next")&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade" id="host-wizard-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-header wiz-modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-content">
                <section>
                    <div id="host-wizard">
                        <ul class="hidden">
                            <li><a href="#wizhtab1" data-toggle="tab">@Messages("startpage.wizard.tab.step1.header")</a></li>
                            <li><a href="#wizhtab2" data-toggle="tab">@Messages("startpage.wizard.tab.step2.header")</a></li>
                            <li><a href="#wizhtab3" data-toggle="tab">@Messages("startpage.wizard.tab.step3.header")</a></li>
                            <li><a href="#wizhtab4" data-toggle="tab">@Messages("startpage.wizard.tab.step4.header")</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animated fadeIn" id="wizhtab1">
                                @shared.img("images/startpage/wizard/host-step1.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.host.step1.header")</h2>
                                <p>@Messages("startpage.wizard.host.step1.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wizhtab2">
                                @shared.img("images/startpage/wizard/host-step2.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.host.step2.header")</h2>
                                <p>@Messages("startpage.wizard.host.step2.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wizhtab3">
                                @shared.img("images/startpage/wizard/host-step3.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.host.step3.header")</h2>
                                <p>@Messages("startpage.wizard.host.step3.body")</p>
                            </div>
                            </div>
                            <div class="tab-pane animated fadeIn" id="wizhtab4">
                                @shared.img("images/startpage/wizard/host-step4.png", alt = "", cssClass = "img-responsive")
                            <div class="overlay animated fadeInDown">
                                <h2>@Messages("startpage.wizard.host.step4.header")</h2>
                                <p>@Messages("startpage.wizard.host.step4.body")</p>
                            </div>
                            </div>
                            <ul class="pager wizard">
                                <li class="previous" style="display: none"><a class="btn" href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;@Messages("startpage.wizard.pager.prev")</a></li>
                                <li class="next"><a class="btn" href="javascript:void(0);">@Messages("startpage.wizard.pager.next")&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>