@(images: List[models.files.ContentFile] = Nil)

@if(images.nonEmpty){
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Created date</th>
            <th>Modified date</th>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Original</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @for(image <- images) {
            <tr>
                <td>@image.getCreatedDate</td>
                <td>@image.getLastModifiedDate</td>
                <td><img src="@routes.ImageController.auto(image.getStoreId, 100, 100).url">
                </td>
                <td>@image.name</td>
                <td>
                @if(image.isAdminFile.asInstanceOf[Boolean]) {
                    @Messages("admin.file.list.isAdminFile")<br>
                }
                 @image.owner.fullName<br>@image.owner.emailAddress
                </td>
                <td><a href="@routes.ImageController.at(image.getStoreId).url" target="_blank">Open original</a></td>
                <td><a href="@controllers.admin.routes.AdminFileController.deleteImage(image.objectId)">@Messages("admin.file.list.delete")</a></td>
            </tr>
        }
        </tbody>
    </table>
}