@(uploadResult: Option[String] = None)

@helper.form(action = controllers.admin.routes.AdminFileController.add(), 'id -> "fileupload", 'enctype -> "multipart/form-data") {

    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <input type="file" name="files[]" multiple>
    </span>

    <button type="submit" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>@Messages("admin.file.button.upload")</span>
    </button>

    <!-- The global progress state -->
    <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
            <!-- The extended global progress state -->
        <div class="progress-extended">&nbsp;</div>
    </div>
}