@(myForm: Form[models.viewmodels.Repeat])

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">@Messages("recipe.edit.add.header")</h1>

                    @helper.form(action=controllers.routes.MessageController.saveit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {


                        @helper.inputText(myForm("text"))
                        <br>
                        <input type="checkbox" id="nods[0]" name="nods[0]" value="Husmanskost">Husmanskost
                        <br>
                        <input type="checkbox" id="nods[1]" name="nods[1]" value="Spanskt">Spanskt

                        <div class="form-actions">
                            <button class="btn btn-primary" type="submit">@Messages("recipe.edit.save")</button>

                        </div>

                    }


                    @helper.checkbox(myForm("aktiv"))

                </div>
            </div>
        </div>


    </div>