<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="@routes.Assets.at("js/libs/jquery-file-upload-9.8.0/css/jquery.fileupload.css")">
<link rel="stylesheet" href="@routes.Assets.at("js/libs/jquery-file-upload-9.8.0/css/jquery.fileupload-ui.css")">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="@routes.Assets.at("js/libs/jquery-file-upload-9.8.0/css/jquery.fileupload-noscript.css")"></noscript>
<noscript><link rel="stylesheet" href="@routes.Assets.at("js/libs/jquery-file-upload-9.8.0/css/jquery.fileupload-ui-noscript.css")"></noscript>

