@(images: List[models.files.ImageFile] = Nil)

@if(!images.isEmpty){
    <table>
    @for(image <- images) {
        <tr>
            <td>
                <img src="@image.url">
            </td>
            <td>
                @image.name
            </td>
            <td>
                <a href="@routes.FileController.deleteImage(image.key)">@Messages("file.list.delete")</a>
            </td>

            @if(!image.fileTransformations.isEmpty) {
            <td>
                <table>
                    <tr>
                        @for(transformedImage <- image.fileTransformations){
                            <td><img src="@transformedImage.url"></td>
                        }
                    </tr>
                </table>
            </td>
            }
        </tr>
    }
    </table>
}