@(fileList: Option[List[String]] = None, nameOfConfig: String = null)

@main(Messages("file.title")) {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-offset-3 col-md-6">
                <h1>@Messages("file.upload.header")</h1>
                @file.uploadform()
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-offset-3 col-md-6">
                <h2>@Messages("file.filelist.header")</h2>

                <a href="@routes.FileController.listS3Files("")">List all files raw from S3</a><br>
                @if(!fileList.isEmpty){
                    <ul>
                    @for(fileItem <- fileList) {
                        @for(item <- fileItem) {
                            <li><a href="@routes.FileController.listS3Files(item)">@item</a></li>
                        }
                    }
                    </ul>
                }
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-offset-3 col-md-6">
                <h2>@Messages("file.filelist.header")</h2>

                <a href="@routes.FileController.listAllImages">List all images</a><br>
                @if(!fileList.isEmpty){
                    <ul>
                    @for(fileItem <- fileList) {
                        @for(item <- fileItem) {
                            <li><a href="@routes.FileController.listS3Files(item)">@item</a></li>
                        }
                    }
                    </ul>
                }
            </div>
        </div>
    </div>
}
