@(btnId: String, inputSelector: String = "", selectorMaxItems: Int = 0, btnText: String = "", editMode: Boolean = false)(implicit messages: Messages)

@defining(if(btnText.isEmpty) { Messages("file.button.choose-files-default") }else{ btnText} ) { btnT: String =>
    <button type="button" class="btn btn-default" id="@btnId">@btnT</button>
}

<script>
var btn = document.getElementById('@btnId');
btn.onclick = function(){ openFileModal(@editMode, @if(inputSelector.isEmpty){""}else{document.getElementById('@inputSelector')}, @selectorMaxItems); }
</script>

