@(user: securesocial.core.BasicProfile)(implicit request: RequestHeader, messages: Messages, env: securesocial.core.RuntimeEnvironment)
@title = @{Messages("mails.passwordChangedNotice.subject")}
@mailLink = {
    <a href="@env.routes.loginPageUrl">@Messages("mails.passwordChangedNotice.body.linkToLogin")</a>
}

@mails.mainMail(title = title) {
    <h1>@title</h1>
    <p>@Messages("mails.passwordChangedNotice.body.part1", user.firstName.getOrElse(user.email.get))</p>
    <p>@Html(Messages("mails.passwordChangedNotice.body.part2", mailLink))</p>
}