@(user: securesocial.core.Identity, token: String)(implicit request: play.api.mvc.RequestHeader)
@import securesocial.core.IdentityProvider
<html>
    <body>
        <p>@Messages("mails.passwordResetEmail.body.part1", user.firstName)</p>
        @mailLink = { <a href="@securesocial.core.providers.utils.RoutesHelper.resetPassword(token).absoluteURL(IdentityProvider.sslEnabled)(request)">@Messages("mails.passwordResetEmail.body.linkToResetPassword")</a> }
        <p>@Html(Messages("mails.passwordResetEmail.body.part2", mailLink))</p>
    </body>
</html>