@(userCredForm: Form[models.formdata.UserCredentialForm])(implicit flash: Flash, messages: Messages)


@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("admin.usercredential.add.header")</h1>
            @helper.form(action=controllers.admin.routes.AdminUserCredentialController.editSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                <fieldset>
                    @helper.inputText(userCredForm("firstname"), '_label -> Messages("admin.usercredential.add.firstname"), '_help -> Messages("admin.usercredential.add.firstname.validation"))
                    @helper.inputText(userCredForm("lastname"), '_label -> Messages("admin.usercredential.add.lastname"), '_help -> Messages("admin.usercredential.add.lastname.validation"))
                    @helper.inputText(userCredForm("emailaddress"), '_label -> Messages("admin.usercredential.add.emailaddress"), '_help -> Messages("admin.usercredential.add.emailaddress.validation"))
                    @helper.inputHidden(userCredForm("id"))
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@Messages("admin.add.save")</button>
                    <a class="btn" href="@controllers.admin.routes.AdminUserCredentialController.listAll()">@Messages("admin.add.abort")</a>
                </div>
            }
        </div>
    </div>

}