@(itemList: Option[List[models.UserCredential]])(implicit messages: Messages)

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
        <h1 class="page-header">@Messages("admin.usercredential.list.header")</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Messages("admin.usercredential.list.firstname")</th>
                    <th>@Messages("admin.usercredential.list.lastname")</th>
                    <th>@Messages("admin.usercredential.list.emailaddress")</th>
                    <th>@Messages("admin.usercredential.list.inrole")</th>
                    <th>@Messages("admin.usercredential.list.action")</th>
                </tr>
            </thead>

            <tbody>
                @if(itemList.isDefined){
                    @for(item: models.UserCredential <- itemList.get) {
                        <tr>
                            <td>@item.firstName</td>
                            <td>@item.lastName</td>
                            <td>@item.emailAddress</td>
                            <td>@if(item.roles.nonEmpty) {
                                @for(role <- item.roles) {
                                    @role.name<br>
                                }
                            }
                            </td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li><a href="@controllers.admin.routes.AdminUserCredentialController.edit(item.objectId)"><span class="glyphicon glyphicon-edit"></span> &nbsp; @Messages("admin.actions.edit")</a></li>
                                    <li><a href="@controllers.admin.routes.AdminUserCredentialController.delete(item.objectId)"><span class="glyphicon glyphicon-trash"></span> &nbsp; @Messages("admin.actions.delete")</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>

}