@(startForm:play.api.data.Form[String])(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment, messages: Messages)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main(Messages("securesocial.signup.title")){
    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>@Messages("securesocial.signup.title")</h1>
                </div>

                @request.flash.get("error").map { msg =>
                <div class="alert alert-error animated fadeIn">
                    @Messages(msg)
                </div>
                }


                <div class="col-xs-12 col-md-10 col-md-offset-1 login-form">
                    <form action="@env.routes.handleStartSignUpUrl"
                          class="form-horizontal"
                          autocomplete="off" method="post"
                    >
                        <fieldset>
                            @CSRF.formField
                            @helper.inputText(
                            startForm("email"),
                            '_label -> Messages("securesocial.signup.email1"),
                            'class -> "input-xlarge",
                            'autofocus -> "autofocus",
                            '_help -> Messages("securesocial.signup.email-required")
                            )

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                                <a class="btn" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
}