@(personForm: Form[Person])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

    <h1>@Messages("person.formular")</h1>
    <i>Ett enkelt formulär</i>

@helper.form(action = routes.Personer.save()) {
    <fieldset>
        @helper.inputText(personForm("id"), '_label -> "Identitet:")
        @helper.inputText(personForm("fornamn" ), '_label -> "Förnamn:")
        @helper.inputText(personForm("efternamn"), '_label -> "Efternamn:")
    </fieldset>
    <input type="submit" value="Spara">
}