<html>
<head>
    <title>Test</title>
</head>
    <body>
        <i>
         Namn:
        </i>
        <input type="text" size="12" name="test">
        <input type="button" value="Sök">

        <input type="range">
        <input type="color">
        <input type="email" about="test">
        <p>
            Antal:
        </p>
        <select size="2">
            <option VALUE="1">Ett</option>
            <option VALUE="2">Två</option>
            <option VALUE="3">Tre</option>
            <option VALUE="4">Fyra</option>
        </select>


    </body>
</html>