@(boxes: List[models.viewmodels.ReviewBox] = Nil)

@if(boxes.nonEmpty) {
    <div class="col-xs-12">
        <div class="reviews-list">
        @for(box: models.viewmodels.ReviewBox <- boxes){
            <div class="media">
                <a href="@box.linkToProfile" class="host-image-link text-center" title="@Messages("reviewbox.linktoprofile", box.firstName)">
                    @shared.hostImageCircle(box.userImage.getOrElse(""), cssClass = "host-image-review")
                    <span>@box.firstName</span>
                </a>
                <div class="bubble"></div>
                <div class="media-body">
                    <div class="pull-left">@Messages("reviewbox.rated.object.text")&nbsp;</div><a href="@box.linkToRatedItem" class="review-ranked-item-link pull-left">@Html(box.rankedName)</a>
                    @shared.grade(inputId = "host-grade", initialValue = box.rating, showCustomCaption = true, disabled = true, size = "xxxs")
                    <em class="review-date">@box.ratedDate.format(Messages("reviewbox.date.rated.date-format"))</em>
                    @if(box.reviewText.nonEmpty){
                        <hr>
                        <div class="review-text truncate-text-review-boxes">@box.reviewText.get</div>
                    }
                </div>
            </div>
        }
        </div>
    </div>
}