@(loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, env:securesocial.core.RuntimeEnvironment, messages: Messages)

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@main(Messages("securesocial.login.title")){
    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>@Messages("securesocial.login.title")</h1>
                </div>

                @errorMsg.map { msg =>
                    <div class="alert alert-error animated fadeIn">
                        @Messages(msg)
                    </div>
                }

                @request.flash.get("success").map { msg =>
                    <div class="alert alert-success animated fadeIn">
                        @msg
                    </div>
                }

                @request.flash.get("error").map { msg =>
                    <div class="alert alert-error animated fadeIn">
                        @msg
                    </div>
                }


                @defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders: Iterable[securesocial.core.IdentityProvider] =>

                        @env.providers.get(UsernamePassword).map { up =>
                            @defining(if( externalProviders.nonEmpty ) { Messages("securesocial.login.useEmailAndPassword") }else{ Messages("securesocial.login.useEmailAndPasswordOnly") }) { providerHeader: String =>
                               @custom.provider("userpass", Some(loginForm), Some(providerHeader))
                            }
                        }

                        @if(externalProviders.nonEmpty ) {
                            <h3>@Messages("securesocial.login.instructions")</h3>
                            <p class="provider-icons margin-top">
                            @for(p <- externalProviders) {
                                @custom.provider(p.id)
                            }
                            </p>
                        }
                    }

            </div>
        </div>
    </div>

}