@()(implicit request: RequestHeader)
@main(Messages("securesocial.notAuthorized.title")) {

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>@Messages("securesocial.notAuthorized.title")</h1>
                </div>

                <div class="alert alert-error animated fadeIn">
                    @Messages("securesocial.notAuthorized.message")
                </div>
            </div>
        </div>
    </div>
}