@(providerId: String, loginForm: Option[Form[(String, String)]] = None, providerHeader: Option[String] = None)(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment, messages: Messages, appContext: AppContext)

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.Logger
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@env.providers.get(providerId).map { provider =>
            @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
                <div class="col-xs-12 col-md-10 col-md-offset-1 login-form">
                @defining("securesocial/images/providers/%s.png".format(provider.id)) { imageUrl: String =>
                    <a href="@env.routes.authenticationUrl(provider.id)"> <img src="@controllers.routes.Assets.at(imageUrl)"/></a>
                }
                </div>
            }

            @if( provider.authMethod == UserPassword ) {
                <div class="col-xs-12 col-md-4 col-md-offset-1 login-form">
                @if(providerHeader.nonEmpty){ <h3>@providerHeader</h3> }
                <form action = "@env.routes.authenticationUrl("userpass")"
                      class="form-horizontal" autocomplete="off" method="POST">
                    <fieldset>
                        @CSRF.formField

                        @if( UsernamePasswordProvider.withUserNameSupport ) {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.username"),
                                'class -> "input-xlarge",
                                '_help -> "*",
                                'autofocus -> "autofocus"
                            )
                        } else {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.email1"),
                                'class -> "input-xlarge",
                                '_help -> "*",
                                'autofocus -> "autofocus"
                            )
                        }

                        @helper.inputPassword(
                            loginForm.get("password"),
                            '_label -> Messages("securesocial.signup.password1"),
                            '_help -> "*",
                            'class -> "input-xlarge"
                        )

                        <div class="form-actions clearfix">
                            <button type="submit" class="btn btn-primary pull-left">@Messages("securesocial.login.title")</button>
                            <a class="btn pull-left" href="@env.routes.startResetPasswordUrl">@Messages("securesocial.login.forgotPassword")</a>
                        </div>
                    </fieldset>
                </form>
                </div>

                <div class="col-xs-12 visible-xs visible-sm margin-top"></div>

                <div class="col-xs-12 col-md-4 col-md-offset-1 login-form">
                    <h3>@Messages("securesocial.login.signUp")</h3><br>
                    <p><a class="btn btn-primary" href="@env.routes.startSignUpUrl">@Messages("securesocial.login.here")</a></p>
                </div>
            }
}.getOrElse {
    @*****************************************
     * Todo: throw a runtime exception? this might need improvement
     *****************************************@
    @Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
    { throw new RuntimeException("Unknown provider '%s') }
}
