@(hostForm: Form[models.viewmodels.MessageForm], userToBeHost: Option[models.UserCredential])(implicit request: RequestHeader)

@views.html.host.hostMain() {
    <div class="well well-hdc">
        <h3>@Messages("mails.hosting.form.title") @userToBeHost.get.firstName @userToBeHost.get.lastName</h3>
        <p><em>@Messages("mails.hosting.form.text")</em></p>
        @utils.Helpers.getUserFromRequest match {
            case None => {}
            case Some(currentUser) => {
                @if(hostForm.get.memberId.nonEmpty && !hostForm.get.hostId.toString.equalsIgnoreCase(currentUser.objectId.toString)){
                        @helper.form(action = routes.MessagesController.applyToHost()) {
                            <div class="row big-margin-top">
                            <fieldset>
                                @helper.inputTextHorizontal(hostForm("phone"), '_label -> Messages("mails.forms.send-request.my-phone"), 'required -> "required", '_showConstraints -> false, '_labelClass -> "col-xs-12", '_divClass -> "col-xs-12")
                                @helper.inputTextHorizontal(hostForm("date"), 'type -> "date", '_label -> Messages("mails.forms.send-request.date-for-event"), '_showConstraints -> false, '_labelClass -> "col-xs-12", '_divClass -> "col-xs-12")
                                @helper.inputTextHorizontal(hostForm("time"), 'type -> "time", '_label -> Messages("mails.forms.send-request.time-for-event"), '_showConstraints -> false, '_labelClass -> "col-xs-12", '_divClass -> "col-xs-12")
                                @helper.inputTextHorizontal(hostForm("numberOfGuests"), 'type -> "number", '_label -> Messages("mails.forms.send-request.nr-of-guests"), '_showConstraints -> false, '_labelClass -> "col-xs-12", '_divClass -> "col-xs-12")
                                @helper.inputTextHorizontal(hostForm("request"), 'type -> "textarea", 'rows -> 6, 'required -> "required", '_label -> Messages("mails.forms.send-request.message"), '_error -> hostForm.error("request"), '_showConstraints -> false, '_labelClass -> "col-xs-12", '_divClass -> "col-xs-12")
                                @helper.inputHidden(hostForm("firstName"), 'readonly -> "readonly", '_label -> Messages("mails.forms.send-request.first-name"),'_showConstraints -> false)
                                @helper.inputHidden(hostForm("lastName"), 'readonly -> "readonly", '_label -> Messages("mails.forms.send-request.last-name"),'_showConstraints -> false)
                                @helper.inputHidden(hostForm("memberId"))
                                @helper.inputHidden(hostForm("hostId"))
                                @helper.inputHidden(hostForm("response"))
                            </fieldset>
                            <div class="col-xs-12">
                                <input type="submit" class="btn btn-primary pull-right" value="@Messages("mails.hosting.send.request")">
                            </div>
                            </div>
                        }
                }
            }
        }
    </div>
}