@(user: models.UserCredential, hostReplyForm: Form[models.viewmodels.MessageForm], id: String)(content: Html)(implicit request: RequestHeader)



<tr>
    <td>
       @user.firstName @user.lastName
    </td>
    <td>
        @hostReplyForm.get.createdDate.get.date.format("yyyy-MM-dd HH:mm")
    </td>
    <td>
        @hostReplyForm.get.date.format("yyyy-MM-dd") @hostReplyForm.get.time.format(" HH:mm")
    </td>
    <td>
        @hostReplyForm.get.messageType.getOrElse("Meddelande")
    </td>
    <td>
        <button id="expandBtn" class="btn btn-primary btn-sm pull-left btn-host-popover collapsed" data-toggle="collapse" data-target="#@id"><span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up"></span></button>
    </td>
    <td>
        <span hidden="true"  class="genericon genericon-mail"></span>
    </td>
</tr>
<tr class="inboxTable">
    <td colspan="5">
        <div class="row"><div id="@id" class="col-xs-8 host-popover collapse">@content</div></div>
        <div class="clearfix"></div>
    </td>
</tr>






