@(user: models.UserCredential, hostReplyForm: Form[models.viewmodels.MessageForm], msgId: String, read: String)(content: Html)(implicit request: RequestHeader)

<tr>
    <td>

        @if(read == null) {
            <div id="mail_@msgId">
                <span class="genericon genericon-mail"></span>
            </div>
            <div id="chkMark_@msgId" hidden="true">
                <span class="genericon genericon-checkmark"></span>
            </div>

        }
        @if(read != null && read.equals("true")) {
            <div id="mail_@msgId" hidden="true">
                <span class="genericon genericon-mail"></span>
            </div>
            <div id="chkMark_@msgId">
                <span class="genericon genericon-checkmark"></span>
            </div>
        }

    </td>
    <td>
       @user.firstName @user.lastName
    </td>
    <td>
        @hostReplyForm.get.createdDate.get.date.format("yyyy-MM-dd HH:mm")
    </td>
    <td>
        @hostReplyForm.get.date.format("yyyy-MM-dd") @hostReplyForm.get.time.format(" HH:mm")
    </td>
    <td>
        @if(hostReplyForm.get.messageType.getOrElse("Meddelande").equals("REQUEST")){
            @Messages("mails.inbox.request")
        }
        @if(hostReplyForm.get.messageType.getOrElse("Meddelande").equals("REPLY")){
            @Messages("mails.inbox.reply")
        }
    </td>
    <td>
        <button id="expandBtn_@msgId" class="btn expandBtn1 btn-primary btn-sm pull-left btn-host-popover collapsed" data-toggle="collapse" data-target="#@msgId"><span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up"></span></button>
    </td>
</tr>
<tr class="inboxTable">
    <td colspan="5">
        <div class="row"><div id="@msgId" class="col-xs-10 host-popover collapse">@content</div></div>
        <div class="clearfix"></div>
    </td>
</tr>






