@(menuItems: Seq[(String, String, String, String)], tab1: String, tab2: String, tab3: String, tab4: String)

@main(Messages("host.title")) {

    <div class="container-fluid host-container">
        <div class="row-fluid">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-xs-offset-0">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <header>
                        <h1>ALEXANDRA</h1>
                        @shared.img("images/startpage/host-head-default.jpg", None, None, cssClass="img-circle host-image")
                        </header>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <section>
                            <article>
                                <h2>Alexandra</h2>
                                <h3>Art Director och entreprenör</h3>
                                @shared.grade(inputId = "host-grade", initialValue = 1, size = "xs", showCaption = true)
                                <div class="memberid"><p>MedlemsID: HDC02</p></div>
                                <div class="breadtext">
                                    Lagat mat sedan 5-årsåldern, sida vid sida med min duktiga (och tålmodiga) hobby-kock-mamma - vilket gjorde att jag som tonåring kunde laga många klassiska husmansrätter (kåldolmar, kroppkakor, porterstek) och gärna experimenterade med egna skapelser.
                                    Tankar fanns på en kockkarriär, men det blev annat kreativt yrke istället - men står gärna i köket med/för nära och kära.
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @shared.img("images/host/image1.jpg", None, None)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-11 big-margin-top">
                        <nav>
                            <ul class="nav nav-tabs">
                            @for(nav <- menuItems) {
                                <li class="@nav._4"><a data-toggle="tab" href="#@nav._3" title="@nav._2">@nav._1</a></li>
                            }
                            </ul>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="@tab1">
                                Tab1
                            </div>
                            <div class="tab-pane fade" id="@tab2">
                                Tab2
                            </div>
                            <div class="tab-pane fade" id="@tab3">
                                Tab3
                            </div>
                            <div class="tab-pane fade" id="@tab4">
                                Tab4
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}