@(user: models.UserCredential, message: models.message.Message, msgId: String)(content: Html)(implicit request: RequestHeader)

<tr id="mail_@msgId" class="mail-inbox-row collapsed" data-toggle="collapse" data-target="#respond_@msgId">
    <td>
        <div class="unread" @if(message.read.equals(true)){ style="display: none"}>
            <span class="genericon genericon-mail"></span>
        </div>
        <div class="read" @if(message.read.equals(false)){ style="display: none"}>
            <span class="genericon genericon-checkmark"></span>
        </div>
    </td>
    <td>@user.firstName @user.lastName</td>
    <td>
        @if(message.request != null) {
            @if(message.request.length > 60) {
                @message.request.substring(0, 60) + "..."
            } else {
                @message.request
            }
        }
    </td>
    <td>@message.getCreatedDate.date.format("yyyy-MM-dd HH:mm")</td>
    @*<td>*@
        @*<button id="expandBtn_@msgId" class="btn expandBtn1 btn-primary btn-sm pull-left btn-host-popover collapsed" data-toggle="collapse" data-target="#@msgId"><span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up"></span></button>*@
    @*</td>*@
</tr>
<tr id="respond_@msgId" class="respond-row collapse">
    <td colspan="6" class="mail-details">@content</td>
</tr>






