@(hostReplyForm: Form[models.formdata.MessageForm], owner: models.UserCredential, msgId: String, message: models.message.Message, currentUser: Option[models.UserCredential])(implicit request: RequestHeader, messages: Messages)

@views.html.host.messageMain(owner, message, msgId) {
        @currentUser match {
            case None => {}
            case Some(cu) => {
                <div class="row">
                    <div class="col-xs-12">
                    @helper.form(action = routes.MessagesController.replyToGuest()) {
                            @if(hostReplyForm.get.messageType.getOrElse("").equalsIgnoreCase("REQUEST")){

                                @*if(message.getResponses != null) {
                                    <table>
                                        <tbody>
                                            @for(msg <- message.getResponses) {
                                                <tr>
                                                    <td>
                                                        <strong>@Messages("mails.inbox.header.replied") : </strong>
                                                    </td>
                                                    <td>
                                                        @msg.request
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br/>
                                }*@
                                <div class="col-xs-12 col-sm-6">
                                    <table class="table request-table">
                                        <thead>
                                            <tr><th>@Messages("mails.inbox.header.message"):</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@hostReplyForm.get.request</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <table class="table request-table">
                                        <thead>
                                            <tr><th colspan="2">@Messages("mails.inbox.request")</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="req-header"><strong>@Messages("mails.inbox.header.date"):</strong></td>
                                                <td>@customUtils.Helpers.formatDate(hostReplyForm.get.date, "yyyy-MM-dd") @customUtils.Helpers.formatDate(hostReplyForm.get.time, "HH:mm")</td>
                                            </tr>
                                            <tr>
                                                <td class="req-header"><strong>@Messages("mails.inbox.header.guest.number"):</strong></td>
                                                <td>@hostReplyForm.get.numberOfGuests</td>
                                            </tr>
                                            <tr>
                                                <td class="req-header"><strong>@Messages("mails.inbox.header.phone"):</strong></td>
                                                <td>@hostReplyForm.get.phone</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }

                            @if(hostReplyForm.get.messageType.getOrElse("").equalsIgnoreCase("REPLY")){
                                <div class="col-xs-12">
                                    <table class="table request-table">
                                        <thead>
                                            <tr><th>@Messages("mails.inbox.header.message"):</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@hostReplyForm.get.request.getOrElse("")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
@*                                @if(message.getResponses != null) {
                                    <table>
                                        <tbody>
                                            @for(msg <- message.getResponses) {
                                                <tr>
                                                    <td>
                                                        <strong>@Messages("mails.inbox.header.message"):</strong>
                                                    </td>
                                                    <td>
                                                        @msg.request
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td><strong>@Messages("mails.inbox.header.answer"):</strong></td>
                                                <td>@hostReplyForm.get.request.getOrElse("")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                *@
                            }

                            <hr class="hr-orange margin-top">
                            <div class="col-xs-12 margin-top">
                                @helper.inputTextHorizontal(hostReplyForm("profileLinkName"), 'readonly -> "readonly", '_label -> Messages("mails.inbox.reply.header.to"))
                                @helper.inputTextHorizontal(hostReplyForm("response"), 'type -> "textarea", 'rows -> 6, '_label -> Messages("mails.inbox.reply.header.message"), 'required -> "required")
                                <div class="col-xs-12">
                                    <input type="submit" class="btn btn-primary pull-right" value="@Messages("mails.inbox.reply.button", hostReplyForm.get.profileLinkName)">
                                </div>
                            </div>

                            @helper.inputHidden(hostReplyForm("firstName"))
                            @helper.inputHidden(hostReplyForm("lastName"))
                            @helper.inputHidden(hostReplyForm("messageType"))
                            @helper.inputHidden(hostReplyForm("date"))
                            @helper.inputHidden(hostReplyForm("time"))
                            @helper.inputHidden(hostReplyForm("numberOfGuests"))
                            @helper.inputHidden(hostReplyForm("phone"))
                            @helper.inputHidden(hostReplyForm("request"))
                            @helper.inputHidden(hostReplyForm("memberId"))
                            @helper.inputHidden(hostReplyForm("hostId"))
                            @helper.inputHidden(hostReplyForm("createdDate"))
                            @helper.inputHidden(hostReplyForm("messageId"))
                            @*helper.inputHidden(hostReplyForm("profileLinkName"))*@
                    }
                </div>
            </div>
            }
        }
}