@(title: String)

<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.1.11.1.min.js"></script>
        <script>
        $(document).ready(function(){
        $("button").click(function(){
        $.get("/test/grund2?callingString=test2",function(data,status){
        alert("Data: " + data + "\nStatus: " + status);
        $("#result" ).text(data);
        });
        });
        });
        </script>
    </head>
    <body>

        <button>Send an HTTP GET request to a page and get the result back</button>
        <p id="result"></p>
    </body>
</html>