@(recipeForm: Form[models.viewmodels.RecipeForm], editingRecipe: Option[models.Recipe] = None, sortedImages: Option[List[models.files.ContentFile]] = None)(implicit flash: Flash)
@import helper.twitterBootstrap._

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("admin.recipe.add.header")</h1>
            @helper.form(action=controllers.admin.routes.AdminRecipeController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                <fieldset>
                    @helper.inputText(recipeForm("recipename"), '_label -> Messages("admin.recipe.add.name"), '_help -> Messages("admin.recipe.add.name.validation"))
                    @helper.textarea(recipeForm("recipepreamble"), '_label -> Messages("admin.recipe.add.preamble"), '_help -> Messages("admin.recipe.add.preamble.validation"), '_class -> "recipe-addedit-form-preamble")
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @helper.inputFile(recipeForm("recipemainimage"), '_label -> Messages("admin.recipe.add.main-image"))
                            @if(editingRecipe.isDefined && editingRecipe.get.getMainImage != null) {
                                @shared.img(editingRecipe.get.getMainImage.getTransformByName("thumbnail").getUrl) - @Messages("admin.recipe.add.image.existing")
                            }
                        </div>
                    </div>
                    @defining(List(1,2,3,4,5)){ items =>
                        @for(i <- items) {
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @helper.inputFile(recipeForm("recipeimage" + i), '_label -> Messages("admin.recipe.add.image", i))
                                    @if(sortedImages.isDefined && sortedImages.get.isDefinedAt(i)) {
                                        @shared.img(sortedImages.get(i).getTransformByName("thumbnail").getUrl) - @Messages("admin.recipe.add.image.existing")
                                    }
                                </div>
                            </div>
                        }
                    }
                    @helper.textarea(recipeForm("recipebody"), '_label -> Messages("admin.recipe.add.body"), 'class -> "richtext")
                    @helper.inputHidden(recipeForm("receipeid"))
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@Messages("admin.add.save")</button>
                    <a class="btn" href="@controllers.admin.routes.AdminContentController.editIndex()">@Messages("admin.add.abort")</a>
                </div>
            }
        </div>
    </div>

}