@()(implicit flash: Flash, messages: Messages)

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("admin.recipe.index.header")</h1>
            <div class="btn-group">
                <a href="@controllers.admin.routes.AdminRecipeController.add()" class="btn btn-primary">@Messages("admin.actions.add")</a>
                <a href="@controllers.admin.routes.AdminRecipeController.listAll()" class="btn btn-primary">@Messages("admin.actions.list")</a>
            </div>
        </div>
    </div>

}