@(recipeList: List[models.Recipe])

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
        <h1 class="page-header">@Messages("admin.recipe.list.header")</h1>
        <p><a href="@controllers.admin.routes.AdminRecipeController.add()" class="btn btn-primary">@Messages("admin.actions.add")</a></p>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Messages("admin.recipe.list.owner")</th>
                    <th>@Messages("admin.recipe.list.name")</th>
                    <th>@Messages("admin.recipe.list.route")</th>
                    <th>@Messages("admin.recipe.list.action")</th>
                </tr>
            </thead>

            <tbody>
            @for(recipe <- recipeList) {
                <tr>
                    <td>@recipe.getOwnerProfile.getOwner.getFullName</td>
                    <td>@recipe.getName</td>
                    <td><small>@recipe.getLink</small></td>
                    <td>
                        <ul class="nav nav-pills">
                            <li><a href="@controllers.admin.routes.AdminRecipeController.edit(recipe.objectId)"><span class="glyphicon glyphicon-edit"></span>&nbsp;@Messages("admin.actions.edit")</a></li>
                            <li><a href="@controllers.admin.routes.AdminRecipeController.delete(recipe.objectId)"><span class="glyphicon glyphicon-trash"></span>&nbsp;@Messages("admin.actions.delete")</a></li>
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>

}