@import models.formdata.EventForm

@(eventForm: Form[EventForm],
        editingEvent: Option[models.Event] = None,
        extraValues: models.viewmodels.EditEventExtraValues,
        optionsMealTypes: Option[Seq[(String, String)]],
        optionsAlcoholServings: Option[Seq[(String, String)]],
        activateMultipleStepsForm: Boolean = true)(implicit flash: Flash = Flash.emptyCookie, request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@inlineFC = @{
    b3.inline.fieldConstructor
}
@script = {
    <script>
    $(document).ready(function(){
        var form = $(".form-multistep");

        var formValRules = {
            ignore:":not(:visible)",
            rules: {
                name: {
                    required: true,
                    minlength: 6,
                    maxlength: 60
                },
                body: {
                    required: true
                }
            },
            messages: {
                name: '@{Messages("event.edit.add.name.validation")}',
                body: {
                    required: '@{Messages("event.edit.add.body.validation")}'
                }
            }
        };

        $.validator.addMethod("myRequired", $.validator.methods.required, '@{Messages("event.edit.add.date.validation.required")}');
        $.validator.addMethod("myTime", function(value, element) {
            return this.optional(element) || /^(([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])(:([0-5]?[0-9]))?$/i.test(value);
        }, '@{Messages("event.edit.add.date.validation.format")}');
        $.validator.addMethod("myDateISO", $.validator.methods.dateISO, '@{Messages("event.edit.add.date.validation.format")}');

        var dateRules = {
            myRequired: true,
            myDateISO: true
        };

        var timeRules = {
            myRequired: true,
            myTime: true
        };

        var datePickerOptions = {
            locale: "sv",
            minDate: "now",
            format: "YYYY-MM-DD"
        };

        var timePickerOptions = {
            locale: "sv",
            stepping: 15,
            format: "LT"
        };

        $(".date input[type=date]").datetimepicker(datePickerOptions);
        $(".time input[type=time]").datetimepicker(timePickerOptions);
        $(".remove-button").on("click", removeDate);
        $(".add-more-dates").on("click", {datePickerOptions: datePickerOptions, timePickerOptions: timePickerOptions, stepsForm: form }, cloneDate);

        @if(activateMultipleStepsForm) {
            initMultiForm(form, formValRules);
        }else{
            hideMultiFormItems();
        }
        activateValidation(form, formValRules, dateRules, timeRules);
    });

    function cloneDate(event, datePickerOptions, timePickerOptions, stepsForm){
       var $dateContainer = $("#date-container");
       var $dateClone = $dateContainer.children().first().clone();
       var nrOfDates = $dateContainer.children().length;

       $dateClone = $dateClone.removeAttr("id").html(function(i, oldHTML) {
        // Replaces _0_ and [0] and removes any values
        oldHTML = oldHTML.replace(/value\=\"._\"/gi, "value=\"\"");
        return oldHTML.replace(/0/gi, nrOfDates);
       });
       $dateClone.addClass("margin-top");
       $dateClone.find(".eventdate-guid").attr("value","");
       $dateClone.find(".guestsbooked").attr("value","0");
       $dateClone.find("input[type=date]").attr("value","").datetimepicker(event.data.datePickerOptions);
       $dateClone.find("input[type=time]").attr("value","").datetimepicker(event.data.timePickerOptions);
       $dateClone.find(".remove-button").removeClass("hidden").on("click", removeDate);
       $dateContainer.append($dateClone);
       event.data.stepsForm.validate().resetForm();
       /*
       $dateContainer.find(".date-input").each(function() {
            $(this).rules("remove").rules("add", dateRules);
       });
       */
    }

    function removeDate(){
        var $parent = $(this).closest(".date-row");
        // TODO add check for if people has booked
        if($parent.find(".guestsbooked").attr("value") > 0){
            alert("@Messages("event.edit.add.date-time.remove-date.guests-booked")");
        }else{
            $parent.remove();
        }
    }

    </script>
}
@main(Messages("event.create.title"), footerHtml = file.modalImages.render(messages), footerScripts = script){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1 class="page-header">@Messages("event.edit.add.header")</h1>

                <div class="progress">
                    <div class="progress-bar progress-bar-orange active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                @shared.flashmsg(flash)
                @shared.listFormErrors(eventForm)

                @b3.form(action=controllers.routes.EventPageController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-multistep"){
                    <fieldset>
                        <div class="step">
                            @helper.inputText(eventForm("name"), '_label -> Messages("event.edit.add.name"), '_help -> Messages("event.edit.add.name.validation"), '_error -> Messages("event.edit.add.name.validation"))
                            <div class="margin-top">@Html(Messages("event.edit.add.name.help-text"))</div>
                        </div>

                        <div class="step">
                            @if(optionsMealTypes.isDefined) {
                                @b3.select(eventForm("eventOptionsForm.mealType"),
                                    optionsMealTypes.get,
                                    '_label -> Messages("event.edit.add.meal-type"),
                                    'value -> eventForm("eventOptionsForm.mealType").value.getOrElse("")
                                )
                            }

                            @helper.textarea(eventForm("body"), '_label -> Messages("event.edit.add.body"), '_error -> Messages("event.edit.add.body.validation"), 'class -> "richtext-extra")
                            <div class="margin-top">@Html(Messages("event.edit.add.body.help-text"))</div>
                        </div>

                        <div class="step">
                            @b3.checkbox(eventForm("eventOptionsForm.childFriendly"), '_text -> Messages("event.edit.add.child-friendly"))
                            @b3.checkbox(eventForm("eventOptionsForm.handicapFriendly"), '_text -> Messages("event.edit.add.handicap-friendly"))
                            @b3.checkbox(eventForm("eventOptionsForm.havePets"), '_text -> Messages("event.edit.add.have-pets"))
                            @b3.checkbox(eventForm("eventOptionsForm.smokingAllowed"), '_text -> Messages("event.edit.add.smoking-allowed"))

                            @if(optionsAlcoholServings.isDefined) {
                                @b3.select(eventForm("eventOptionsForm.alcoholServing"),
                                    optionsAlcoholServings.get,
                                    '_label -> Messages("event.edit.add.alcohol-servings"),
                                    'value -> eventForm("eventOptionsForm.alcoholServing").value.getOrElse("")
                                )
                            }

                            @helper.textarea(eventForm("preamble"), '_label -> Messages("event.edit.add.preamble"), '_help -> Messages("event.edit.add.preamble.validation"), '_class -> "event-addedit-form-preamble")
                            <div class="margin-top">@Html(Messages("event.edit.add.preamble.help-text"))</div>
                        </div>

                        <div class="step">
                            @helper.inputText(eventForm("price"), '_label -> Messages("event.edit.add.price"), '_help -> Messages("event.edit.add.price.validation"), '_error -> Messages("event.edit.add.price.validation"))
                            <div class="margin-top">@Html(Messages("event.edit.add.price.help-text"))</div>
                        </div>

                        <div class="step">
                            @b3.select(eventForm("minNrOfGuests"), helper.options("1"->"1","2"->"2","3"->"3","4"->"4","5"->"5","6"->"6","7"->"7","8"->"8","9"->"9"), '_label -> Messages("event.edit.add.min-nr-of-guests.label"))
                            @b3.select(eventForm("maxNrOfGuests"), helper.options("1"->"1","2"->"2","3"->"3","4"->"4","5"->"5","6"->"6","7"->"7","8"->"8","9"->"9"), '_label -> Messages("event.edit.add.max-nr-of-guests.label"))
                            <div class="margin-top">@Html(Messages("event.edit.add.nr-of-guests.help-text"))</div>
                        </div>


                        <div class="step">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>@Messages("event.edit.add.date-time.header.date")</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div id="date-container" class="col-xs-12 form-inline">
                                    @helper.repeat(field = eventForm("eventDates"), min = 1) { eventDatesField =>
                                        <div class="date-row">
                                            @b3.inputWrapped("date",
                                                eventDatesField("date"),
                                                'class -> "date-input",
                                                'disabled -> (customUtils.Helpers.toInt(eventDatesField("guestsbooked").value) > 0),
                                                'placeholder -> Messages("event.edit.add.date.validation.format"),
                                                '_hiddenLabel -> Messages("event.edit.add.date"),
                                                '_class -> "date") { input =>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                    @input
                                                </div>
                                            }
                                            @b3.inputWrapped("time",
                                                eventDatesField("time"),
                                                'class -> "time-input",
                                                'disabled -> (customUtils.Helpers.toInt(eventDatesField("guestsbooked").value) > 0),
                                                'placeholder -> Messages("event.edit.add.time.validation.format"),
                                                '_hiddenLabel -> Messages("event.edit.add.time"),
                                                '_class -> "time") { input =>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </div>
                                                    @input
                                                </div>
                                            }
                                            @helper.inputHidden(eventDatesField("id"), 'class -> "eventdate-guid")
                                            @b3.hidden(eventDatesField("guestsbooked").name, eventDatesField("guestsbooked").value.getOrElse(0), 'class -> "guestsbooked")
                                            <div class="form-group">
                                                <button class="btn btn-danger remove-button hidden" title="@Messages("event.edit.add.date-time.remove-date")"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>

                                        <div class="event-guest-info margin-bottom">
                                            @if(customUtils.Helpers.toInt(eventDatesField("guestsbooked").value) > 0){
                                                <strong>@Messages("event.edit.add.date-time.header.booked-guests")</strong>
                                                @Messages("event.edit.add.date-time.booked-guests-label", eventDatesField("guestsbooked").value.getOrElse(0).toString)<br>
                                                @Messages("event.edit.add.date-time.booked-guests-info")
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    @b3.button('id -> "add-more-dates", 'class -> "btn btn-default btn-warning add-more-dates"){ <span class="glyphicon glyphicon-plus"></span> @Messages("event.edit.add.date-time.add-date") }
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>@Messages("event.edit.add.main-image")</label><br>
                                    @file.previewField(previewId = "mainimage", Messages("event.edit.add.main-image-preview"), blnShowText = false, prePopulatedWith = extraValues.mainImagePrev)
                                    @file.openModalButton(btnId = "btnmainimg", inputSelector = "mainimage", selectorMaxItems = extraValues.mainImageMaxNr, btnText = Messages("event.edit.add.main-image-btn"))
                                    @helper.inputHidden(eventForm("mainimage"), 'id -> "mainimage")
                                </div>
                            </div>
                        </div>

                        <div class="step">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>@Messages("event.edit.add.images", extraValues.imagesMaxNr)</label><br>
                                    @file.previewField(previewId = "images", Messages("event.edit.add.images-preview"), blnShowText = false, prePopulatedWith = extraValues.imagesPrev)
                                    @file.openModalButton(btnId = "btnimages", inputSelector = "images", selectorMaxItems = extraValues.imagesMaxNr, btnText = Messages("event.edit.add.images-btn"))
                                    @helper.inputHidden(eventForm("images"), 'id -> "images")
                                </div>
                            </div>
                        </div>

                        @helper.inputHidden(eventForm("id"))
                    </fieldset>


                    <div class="form-actions">
                        <button class="btn btn-default pull-left btn-margin-right action prev" type="button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;@Messages("event.edit.prev")</button>
                        <button class="btn btn-default pull-right btn-margin-left action next" type="button">@Messages("event.edit.next")&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
                        <button class="btn btn-primary pull-right btn-margin-left action submit" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;@Messages("event.edit.save")</button>
                        @if(eventForm("id").value.nonEmpty && customUtils.Helpers.isValidUuid(eventForm("id").value.get) && extraValues.nrOfTotalGuestsBookedForThisEvent == 0) {
                            @defining(java.util.UUID.fromString(eventForm("id").value.get)) { parsedUUID: java.util.UUID =>
                                <a class="btn btn-danger pull-right btn-margin-left action delete" data-confirm-type="link" data-confirm-btn-ok="@Messages("event.edit.delete.ok")" data-confirm-title="@Messages("event.edit.delete.title")" data-confirm-btn-cancel="@Messages("event.edit.delete.abort")" data-confirm-text="@Messages("event.edit.delete.confirm")" href="@controllers.routes.EventPageController.delete(parsedUUID)"><span class="glyphicon glyphicon-trash"></span>&nbsp;@Messages("event.edit.delete")</a>
                            }
                        }
                        @defining(if(editingEvent.isDefined){
                            controllers.routes.EventPageController.viewEventByNameAndProfile(editingEvent.get.getOwnerProfile.profileLinkName,editingEvent.get.getLink).url
                        }else{
                            controllers.routes.UserProfileController.viewProfileByLoggedInUser().url
                        }) { abortLink =>
                            <a class="btn action pull-right btn-margin-left abort" data-loading-text="@Messages("event.edit.saving")" href="@abortLink">@Messages("event.edit.abort")</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}