@(event: models.Event, isThisMyEvent: Boolean, isUserHost: Boolean)(implicit messages: Messages)

@if(isUserHost){
<h3 class="event-date-list-header text-center">@Messages("event.choose-date.header")</h3>
<div id="event-date-list-choice" class="hidden">
    <section class="switch-container">
        <div class="switch switch-green">
            <input type="radio" id="switch-radio-picker" class="btn-show-datepicker switch-input" name="view" value="@Messages("event.choose-date.picker.date")" checked="checked">
            <label for="switch-radio-picker" class="switch-label event-switch-label switch-label-off">@Messages("event.choose-date.picker.date")</label>

            <input type="radio" id="switch-radio-list" class="btn-show-datelist switch-input" name="view" value="@Messages("event.choose-date.picker.list")">
            <label for="switch-radio-list" class="switch-label event-switch-label switch-label-on">@Messages("event.choose-date.picker.list")</label>
            <span class="switch-selection"></span>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div id="event-date-list-picker"
            data-event-uuid="@event.objectId"
            data-get-all-available-dates-route="@{routes.EventPageController.getAllAvailableDatesJSON()}"
            data-get-time-route="@{routes.EventPageController.getEventTimesForDateAJAX()}"
            class="inline-date-selector animated flipInX"
            style="display: none"></div>
        <div id="event-date-list-picker-list" class="event-date-list-picker-list animated flipInX" style="display: none">

        </div>
    </div>
</div>

<div id="event-date-list-result" class="event-date-list-result hidden"></div>
<div id="event-date-list-result-no-results" class="event-date-list-no-results hidden">
    <div class="row">
        @if(isThisMyEvent) {
            <div class="col-xs-12 text-center">
                @Messages("event.choose-date.no-results.my-event")<br>
                <a href="@controllers.routes.EventPageController.edit(event.objectId)#edit-date-time" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;@Messages("event.choose-date.no-results.my-event.button")</a>
            </div>
        }else{
            <div class="col-xs-12 text-center">
                @Messages("event.choose-date.no-results")
            </div>
        }
    </div>
</div>
}