@(eventBookingSuccess: EventBookingSuccess)(implicit messages: Messages)


<ul class="list-group big-margin-top">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><strong>@Messages("event.book.success.event-name")</strong></div>
            <div class="col-md-9"><strong><a href="@eventBookingSuccess.eventLink">@eventBookingSuccess.eventName</a></strong></div>
        </div>
    </li>
    @if(eventBookingSuccess.mealType.isDefined) {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3"><span class="glyphicon glyphicon-cutlery"></span> @Messages("event.book.success.meal-type")</div>
                <div class="col-md-9">@eventBookingSuccess.mealType.get</div>
            </div>
        </li>
    }
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-calendar"></span> @Messages("event.book.chosen.date")</div>
            <div class="col-md-9">@eventBookingSuccess.date</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-time"></span> @Messages("event.book.chosen.time")</div>
            <div class="col-md-9">@eventBookingSuccess.time</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-user"></span> @Messages("event.book.nr-of-guests.label")</div>
            <div class="col-md-9">@eventBookingSuccess.nrOfGuests.toString</div>
        </div>
    </li>
    @if(eventBookingSuccess.phoneNumberToHost.isDefined){
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> @Messages("event.prop.phone")</div>
                <div class="col-md-9">@eventBookingSuccess.phoneNumberToHost.get</div>
            </div>
        </li>
    }
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-map-marker"></span> @Messages("event.prop.address")</div>
            <div class="col-md-9">
                @eventBookingSuccess.locationAddress<br>
                @eventBookingSuccess.locationZipCode<br>
                @eventBookingSuccess.locationCity
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><strong>@Messages("event.book.chosen.total-cost")</strong></div>
            <div class="col-md-9">
                <strong>@Messages("event.price.currency") @eventBookingSuccess.totalCost @Messages("event.price.currency.end")</strong><br>
                <em>@Messages("event.book.success.payment-info")</em>

            </div>
        </div>
    </li>
</ul>
