@(event: models.Event,
        eventBookingSuccess: EventBookingSuccess
        )(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie, messages: Messages)



@main(Messages("event.title", event.getName)) {

  <div class="container">
    <div class="row">
        @if(!flash.isEmpty) {
            <div class="col-xs-12">@shared.flashmsg(flash)</div>
        }

        <div class="col-xs-12">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-ok text-green"></span> @Messages("event.book.success.header")</h1>
                <p>@Html(Messages("event.book.success.body", eventBookingSuccess.email))</p>

                <div class="big-margin-top">
                    @views.html.event.bookingSuccessDetails(eventBookingSuccess)
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a class="btn btn-primary btn-lg pull-left margin-top" href="@eventBookingSuccess.eventLink"><span class="glyphicon glyphicon-chevron-left"></span> @Messages("event.book.success.back")</a>
                        <button class="btn btn-primary btn-lg pull-right margin-top" onclick="window.print();"><span class="glyphicon glyphicon-print"></span> @Messages("event.book.success.print")</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
}