@(event: models.Event)(implicit messages: Messages)

<h3 class="event-date-list-header text-center">@Messages("event.choose-date.header")</h3>
<div id="event-date-list-picker"
    data-event-uuid="@event.objectId"
    data-get-all-available-dates-route="@{routes.EventPageController.getAllAvailableDatesJSON()}"
    data-get-time-route="@{routes.EventPageController.getEventTimesForDateAJAX()}"
    class="inline-date-selector animated"
    style="display: none"></div>
<hr class="hr-orange">
<div id="event-date-list-result"></div>
<button id="event-date-list-suggest-date" class="btn btn-default btn-group-justified">@Messages("event.button.suggest-date")</button>
