@(profileName: String)(implicit messages: Messages)

<script>
$(document).ready(function(){

    var configEvent = Object.create(null);
    configEvent.map = 0;
    configEvent.resultsPagination = "#pagination-event";
    configEvent.resultsNextBtn = configEvent.resultsPagination + " .result-next";
    configEvent.resultsPrevBtn = configEvent.resultsPagination + " .result-prev";
    configEvent.resultsTotal = configEvent.resultsPagination + " .results-total";
    configEvent.resultsTarget = "#event-list";
    configEvent.jsonRequest = '@{routes.EventPageController.viewEventByNameAndProfilePageJSON()}';
    configEvent.queryParam = 'profileName';
    configEvent.queryValue = '@profileName';
    configEvent.htmlTemplate = eventHtmlTemplate;

    function eventHtmlTemplate(value){
        var l = "";
        l = l + "<div class='col-xs-12 col-event-boxes'><a href='" + value.linkToEvent + "' class='link-event-panel'>";
        l = l + "<div class='row'>";

        l = l + "<div class='col-xs-12 col-sm-6 no-gutter'>";
        l = l + "<div class='full-width-image-wrapper'><img class='full-width-image' src='" + value.mainImage + "' class='img-responsive'></div>";
        l = l + "<div class='price-wrapper'>";
        l = l + "<div class='currency'>" + '@Messages("event.price.currency")' + "</div>";
        l = l + "<div class='price'>" + value.price + "<span class='price-end'>" + '@Messages("event.price.currency.end")' + "</span></div>";
        l = l + "<div class='price-info'>" + '@Messages("event.price.front.description")' + "</div>";
        l = l + "</div>";
        l = l + "</div>";

        l = l + "<div class='col-xs-12 col-sm-6 info-wrapper'>";
        l = l + "<h2>" + value.name + "</h2>";
        l = l + "<div class='location'>" + value.location + "</div>";
        l = l + "<div class='preamble'>" + value.preAmble + "</div>";
        l = l + "<button class='btn btn-lg btn-orange btn-booking'><span class='glyphicon glyphicon-book'></span>&nbsp;" + '@Messages("event.button.select")' + "</button>";
        l = l + "</div>";

        l = l + "</div>";
        l = l + "</a></div>";

        return l;
    }

    // Get default
    getPagedJSON(configEvent, 0);
    attachEventsToButtons(configEvent);

});
</script>

<div id="event-list"></div>
<div id="pagination-event" class="row pagination-hdc">
    <div class="col-xs-6 col-sm-5">
        <button class="btn btn-default pull-right result-next"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;@Messages("button.previous")</button>
    </div>
    <div class="col-xs-2 hidden-xs text-center results-total"></div>
    <div class="col-xs-6 col-sm-5">
        <button class="btn btn-default pull-left result-prev">@Messages("button.next") &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
</div>