@(event: models.Event,
        eventBookingSuccess: EventBookingSuccess
        )(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie, messages: Messages)



@main(Messages("event.title", event.getName)) {

  <div class="container">
    <div class="row">
        @if(!flash.isEmpty) {
            <div class="col-xs-12">@shared.flashmsg(flash)</div>
        }

        <div class="jumbotron">
            <h1>@Messages("event.book.success.header")</h1>
            <p>@Messages("event.book.success.body", eventBookingSuccess.email)</p>
        </div>

        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-calendar"></span> @Messages("event.book.chosen.date")</div>
                        <div class="col-md-9">@eventBookingSuccess.date</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-time"></span> @Messages("event.book.chosen.time")</div>
                        <div class="col-md-9">>@eventBookingSuccess.time</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-user"></span> @Messages("event.book.nr-of-guests.label")</div>
                        <div class="col-md-9">@eventBookingSuccess.nrOfGuests.toString</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">@Messages("event.book.chosen.total-cost")</div>
                        <div class="col-md-9">@eventBookingSuccess.totalCost</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-map-marker"></span> @Messages("event.prop.address")</div>
                        <div class="col-md-9">
                            @eventBookingSuccess.locationAddress<br>
                            @eventBookingSuccess.locationZipCode<br>
                            @eventBookingSuccess.locationCity
                        </div>
                    </div>
                </li>
                @if(eventBookingSuccess.phoneNumberToHost.isDefined){
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> @Messages("event.prop.phone")</div>
                            <div class="col-md-9">@eventBookingSuccess.phoneNumberToHost.get</div>
                        </div>
                    </li>
                }
                <li class="list-group-item">
                    <button class="btn btn-primary btn-lg" onclick="window.print();"><span class="glyphicon glyphicon-print"></span> @Messages("event.book.success.print")</button>
                </li>
            </ul>
        </div>
    </div>
  </div>


}