@(event: models.Event,
        eventBookingSuccess: EventBookingSuccess
        )(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie, messages: Messages)



@main(Messages("event.title", event.getName)) {

  <div class="container">
    <div class="row">
        @if(!flash.isEmpty) {
            <div class="col-xs-12">@shared.flashmsg(flash)</div>
        }
        <div class="jumbotron">
            <h1>@Messages("event.book.success.header")</h1>
            <p>@Messages("event.book.success.body", eventBookingSuccess.email)</p>
        </div>
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@Messages("event.book.chosen.date")</h4>
                    <p class="list-group-item-text">@eventBookingSuccess.date</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@Messages("event.book.chosen.time")</h4>
                    <p class="list-group-item-text">@eventBookingSuccess.time</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@Messages("event.book.nr-of-guests.label")</h4>
                    <p class="list-group-item-text">@eventBookingSuccess.nrOfGuests.toString</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@Messages("event.book.chosen.total-cost")</h4>
                    <p class="list-group-item-text">@eventBookingSuccess.totalCost</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@Messages("event.prop.address")</h4>
                    <p class="list-group-item-text">
                        @eventBookingSuccess.locationAddress<br>
                        @eventBookingSuccess.locationZipCode<br>
                        @eventBookingSuccess.locationCounty
                    </p>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-primary btn-lg" onclick="window.print();">@Messages("event.book.success.print")</button>
                </li>
            </ul>
        </div>
    </div>
  </div>


}