@(eventDateSuggestionSuccess: EventDateSuggestionSuccess)(implicit messages: Messages)

<ul class="list-group big-margin-top">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><strong>@Messages("event.suggest.success.event-name")</strong></div>
            <div class="col-md-9"><strong><a href="@eventDateSuggestionSuccess.eventLink">@eventDateSuggestionSuccess.eventName</a></strong></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-calendar"></span> @Messages("event.suggest.success.chosen.date")</div>
            <div class="col-md-9">@eventDateSuggestionSuccess.date</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-time"></span> @Messages("event.suggest.success.chosen.time")</div>
            <div class="col-md-9">@eventDateSuggestionSuccess.time</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-user"></span> @Messages("event.suggest.guest.label")</div>
            <div class="col-md-9">
                <strong>@eventDateSuggestionSuccess.guestFullName</strong><br>
                <a href="@eventDateSuggestionSuccess.guestProfileLink">@eventDateSuggestionSuccess.guestProfileName</a><br>
                @Messages("event.suggest.guest-email.label", eventDateSuggestionSuccess.guestEmail)<br>
                @if(eventDateSuggestionSuccess.guestPhone.isDefined) { @Messages("event.suggest.guest-phone.label", eventDateSuggestionSuccess.guestPhone.get)<br> }
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3"><span class="glyphicon glyphicon-user"></span> @Messages("event.suggest.success.nr-of-guests")</div>
            <div class="col-md-9">@eventDateSuggestionSuccess.nrOfGuests.toString</div>
        </div>
    </li>
    @if(eventDateSuggestionSuccess.guestComment.isDefined) {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3"><span class="glyphicon glyphicon-comment"></span> @Messages("event.suggest.success.comment")</div>
                <div class="col-md-9">@eventDateSuggestionSuccess.guestComment.get</div>
            </div>
        </li>
    }
</ul>
