@(tagForm: Form[models.viewmodels.TagWordForm])(implicit flash: Flash)
@import helper.twitterBootstrap._

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("admin.tagword.add.header")</h1>
            @helper.form(action=controllers.admin.routes.AdminTagWordController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                <fieldset>
                    @helper.inputText(tagForm("tagwordname"), '_label -> Messages("admin.tagword.add.name"), '_help -> Messages("admin.tagword.add.name.validation"))
                    @helper.inputText(tagForm("tagwordgroupname"), '_label -> Messages("admin.tagword.add.groupname"), '_help -> Messages("admin.tagword.add.groupname.validation"))
                    @helper.inputHidden(tagForm("id"))
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@Messages("admin.add.save")</button>
                    <a class="btn" href="@controllers.admin.routes.AdminTagWordController.listAll()">@Messages("admin.add.abort")</a>
                </div>
            }
        </div>
    </div>

}