@(bloggPostForm: Form[models.viewmodels.BlogPostsForm], editingBloggPosts: Option[models.BlogPost] = None, extraValues: models.viewmodels.EditBloggPostsExtraValues)(implicit flash: Flash = Flash.emptyCookie, request: RequestHeader)
@import helper.twitterBootstrap._

@main(Messages("blog.create.title"), footerHtml = file.modalImages.render()){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">@Messages("blog.edit.add.header")</h1>
                        @shared.flashmsg(flash)


                        @helper.form(action=controllers.routes.BloggPostsPageController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                            <fieldset>
                                @helper.inputText(bloggPostForm("title"), '_label -> Messages("blog.edit.add.title"), '_help -> Messages("blog.edit.add.title.validation"))
                                @helper.textarea(bloggPostForm("maintext"), '_label -> Messages("blog.edit.add.body"), 'class -> "richtext-extra")
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label>@Messages("blog.edit.add.main-image")</label><br>
                                        @file.previewField(previewId = "bloggmainimg", Messages("recipe.edit.add.main-image-preview"), blnShowText = false, prePopulatedWith = extraValues.mainImagePrev)
                                        @file.openModalButton(btnId = "btnrecmainimg", inputSelector = "bloggmainimg", selectorMaxItems = extraValues.mainImageMaxNr, btnText = Messages("blog.edit.add.main-image-btn"))
                                        @helper.inputHidden(bloggPostForm("mainimage"), 'id -> "bloggmainimg")
                                    </div>
                                </div>
                                @helper.inputHidden(bloggPostForm("blogpostid"))
                            </fieldset>

                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">@Messages("blog.edit.save")</button>
                                @defining(
                                    if(editingBloggPosts.isDefined){
                                }else{
                                    controllers.routes.UserProfileController.viewProfileByLoggedInUser().url
                                }) { abortLink =>
                                    <a class="btn" data-loading-text="@Messages("blog.edit.saving")"></a>
                                    <!-- a class="btn" data-loading-text="@Messages("blog.edit.saving")" href="@abortLink">@Messages("blog.edit.abort")</a> -->
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

                <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>
        </div>
    </div>
}