@(blogPost: models.BlogPost,
        metaData: Option[viewmodels.MetaData] = None,
        isThisMyBlogPost: Boolean = false)(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie)

@main(Messages("blog.title", blogPost.getTitle), metaData = metaData){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @shared.flashmsg(flash)
                <article>
                    <h1 class="page-header">@blogPost.getTitle</h1>
                    @blogPost.getMainImage match {
                        case image: models.files.ContentFile => {
                            @shared.img(routes.ImageController.profileNormal(image.getStoreId).url, cssClass = "img-responsive")
                        }
                        case _ => {}
                    }
                    <div class="breadtext">@Html(blogPost.getText)</div>
                </article>
            </div>

            @if(isThisMyBlogPost){
                <div class="col-xs-12 big-margin-top">
                    <a href="@controllers.routes.BloggPostsPageController.edit(blogPost.objectId)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Messages("blog.button.edit")</a><br>
                </div>
            }
                <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>

            @if(isThisMyBlogPost == true) {
                <a href="/blogg/edit/@blogPost.objectId">Ändra</a>
            }
        </div>
    </div>
}