@()(implicit flash: Flash)

@mainedit(Messages("admin.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("admin.roles.index.header")</h1>
            <p><a href="@controllers.admin.routes.AdminUserRoleController.add()" class="btn-primary">@Messages("admin.actions.add")</a></p>
            <p><a href="@controllers.admin.routes.AdminUserRoleController.addUserToRole()" class="btn-primary">@Messages("admin.actions.addusertorole")</a></p>
            <p><a href="@controllers.admin.routes.AdminUserRoleController.listAll()" class="btn-primary">@Messages("admin.actions.list")</a></p>
        </div>
    </div>

}