@(list: Option[List[models.UserRole]])

@mainedit(Messages("edit.title")){

    <div class="row">
        <div class="col-xs-12">
        <h1 class="page-header">@Messages("edit.roles.list.header")</h1>
        <p><a href="@controllers.admin.routes.AdminUserRoleController.add()" class="btn-primary">@Messages("edit.actions.add")</a></p>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Messages("edit.roles.list.name")</th>
                    <th>@Messages("edit.roles.list.action")</th>
                </tr>
            </thead>

            <tbody>
                @if(list.isDefined){
                    @for(item: models.UserRole <- list.get) {
                        <tr>
                            <td>@item.name</td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li><a href="@controllers.admin.routes.AdminUserRoleController.edit(item.objectId)"><span class="glyphicon glyphicon-edit"></span> &nbsp; @Messages("edit.actions.edit")</a></li>
                                    <li><a href="@controllers.admin.routes.AdminUserRoleController.delete(item.objectId)"><span class="glyphicon glyphicon-trash"></span> &nbsp; @Messages("edit.actions.delete")</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>

}