@(boxes: List[models.viewmodels.BrowseEventBox] = Nil, colClasses: String = "col-xs-12 col-sm-6 col-md-4 col-lg-3")(implicit messages: Messages)
@if(boxes.nonEmpty) {
    <div class="row">
    @for(box: models.viewmodels.BrowseEventBox <- boxes){
        <div class="@colClasses">
            <a href="@box.linkToEvent">
                @defining( if(box.mainImage.isDefined){ "style=\"background-image: url('" + box.mainImage.get + "');background-size:100%;\"" } else { "" } ) { mainImage: String =>
                <div class="thumbnail panel-startpage hover-green-dropshadow" @play.twirl.api.Html(mainImage)>
                    <div class="body">
                        @shared.hostImageCircle(box.userImage.getOrElse(""),cssClassWrapper = "white-border drop-shadow")
                        <h2>@box.eventName</h2>
                        <hr>
                        @if(box.location.nonEmpty) {
                            <p class="location">@play.twirl.api.Html(Messages("browse.boxes.location", box.location.get))</p>
                        }else {
                            <p><br></p>
                        }
                        <div class="col-xs-6 no-gutter">
                            <div class="booking-btn-wrapper">
                                <button class="btn btn-orange btn-booking">@Messages("event.button.select")&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </div>
                        <div class="col-xs-6 no-gutter">
                            <div class="price-wrapper">
                                <span class="price">@box.price@Messages("event.price.currency.end")</span>
                                <span class="price-info">@Messages("event.price.front.description")</span>
                            </div>
                        </div>
                        @*shared.grade(inputId = "host-grade", initialValue = box.userRating, disabled = true, size = "xxs")*@
                    </div>
                </div>
                }
            </a>
        </div>
    }
    </div>
}