@(message: String, userParam: User = null, userFormParam: Form[(String,Int,String)] = null)

@main("User index") {

    <strong>@message</strong>

    @if(userParam != null) {
        <hr>
        <ul>
            <li>Username: @userParam.username</li>
            <li>Age: @userParam.profile.age</li>
            <li>Description: @userParam.profile.description</li>
        </ul>
    }

    <hr>
    @user.addUser(userFormParam)
    @*<a href="@routes.UserController.addUser()">Add user form</a>*@
}