@()(implicit messages: Messages)

<script>
$(document).ready(function(){
    $('#mainmenuwrap').load('@{routes.HeaderController.mainMenu()}');
    $('#quicklinkswrap').load('@{routes.HeaderController.quickLinks()}');
});
</script>

<header>
    <div class="navbar-fixed-top header-navbar">
        <div class="container">
            <div class="row no-gutter header-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-3 visible-xs">
                            <button class="navbar-toggle navbar-toggle-mobile-menu pull-left" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" title="@Messages("header.mobile-menu.title")">
                                <span class="sr-only">@Messages("header.mobile-menu.title")</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="col-xs-6 col-sm-9">
                            <a href="@routes.StartPageController.index()">@shared.img("images/general/logo-horizontal.png", alt = Messages("header.logo.alt"), cssClass = "logo-img img-responsive")</a>
                        </div>

                        <div class="col-xs-3" id="quicklinkswrap"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="nav-main-menu-wrapper" id="mainmenuwrap"></div>

    </div>
    <div class="header-spacing"><!-- no content --></div>
</header>

