@(blogPostForm: Form[models.formdata.BlogPostsForm], editingBlogPosts: Option[models.BlogPost] = None, extraValues: models.viewmodels.EditBlogPostsExtraValues)(implicit flash: Flash = Flash.emptyCookie, request: RequestHeader, messages: Messages, appContext: AppContext)


@main(Messages("blog.create.title"), footerHtml = file.modalImages.render(messages)){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">@Messages("blog.edit.add.header")</h1>
                        @shared.flashmsg(flash)


                        @helper.form(action=controllers.routes.BlogPostsPageController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                            <fieldset>
                                @helper.inputText(blogPostForm("title"), '_label -> Messages("blog.edit.add.title"), '_help -> Messages("blog.edit.add.title.validation"))
                                @helper.textarea(blogPostForm("maintext"), '_label -> Messages("blog.edit.add.body"), 'class -> "richtext-extra")
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label>@Messages("blog.edit.add.main-image")</label><br>
                                        @file.previewField(previewId = "blogmainimg", Messages("recipe.edit.add.main-image-preview"), blnShowText = false, prePopulatedWith = extraValues.mainImagePrev)
                                        @file.openModalButton(btnId = "btnrecmainimg", inputSelector = "blogmainimg", selectorMaxItems = extraValues.mainImageMaxNr, btnText = Messages("blog.edit.add.main-image-btn"))
                                        @helper.inputHidden(blogPostForm("mainimage"), 'id -> "blogmainimg")
                                    </div>
                                </div>
                                @helper.inputHidden(blogPostForm("blogpostid"))
                            </fieldset>

                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">@Messages("blog.edit.save")</button>
                                @defining(
                                    if(editingBlogPosts.isDefined){
                                        controllers.routes.BlogPostsPageController.view(editingBlogPosts.get.objectId).url
                                }else{
                                    controllers.routes.UserProfileController.viewProfileByLoggedInUser().url
                                }) { abortLink : String =>
                                    <a class="btn" data-loading-text="@Messages("blog.edit.saving")" href="@abortLink">@Messages("blog.edit.abort")</a>
                                }
                                @if(blogPostForm("blogpostid").value.nonEmpty) {
                                    <a class="btn btn-danger pull-right" data-confirm-type="link" data-confirm-btn-ok="@Messages("blog.edit.delete.ok")" data-confirm-title="@Messages("blog.edit.delete.title")" data-confirm-btn-cancel="@Messages("blog.edit.delete.abort")" data-confirm-text="@Messages("blog.edit.delete.confirm")" href="@controllers.routes.BlogPostsPageController.delete(java.util.UUID.fromString(blogPostForm("blogpostid").value.get))"><span class="glyphicon glyphicon-trash"></span>&nbsp;@Messages("blog.edit.delete")</a>
                                }

                            </div>
                        }
                    </div>
                </div>
            </div>

                <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>
        </div>
    </div>
}