@(profileName: String)(implicit messages: Messages)

<script>
$(document).ready(function(){

    var configBlog = Object.create(null);
    configBlog.map = 0;
    configBlog.resultsPagination = "#pagination-blog";
    configBlog.resultsNextBtn = configBlog.resultsPagination + " .result-next";
    configBlog.resultsPrevBtn = configBlog.resultsPagination + " .result-prev";
    configBlog.resultsTotal = configBlog.resultsPagination + " .results-total";
    configBlog.resultsTarget = "#blog-list";
    configBlog.jsonRequest = '@{routes.BlogPostsPageController.viewBlogPostByNameAndProfilePageJSON()}';
    configBlog.queryParam = 'profileName';
    configBlog.queryValue = '@profileName';
    configBlog.htmlTemplate = blogTemplate;


    function blogTemplate(value){
        var l = "";
        l = l + "<div class='col-xs-12 blog-item well'>";
        l = l + "<a href='" + "/blog/view/" + value.objectId + "'>";
        l = l + "<h2>" +  " " + value.title + "</h2>";
        l = l + "</a>";
        l = l + "<div class='dates'>";
        l = l + "<strong>" + "@Messages("blog.created.date")" + "</strong>&nbsp;<time>" + value.dateCreated + "</time><br>";
        l = l + "<strong>" + "@Messages("blog.modified.date")" + "</strong>&nbsp;<time>" + value.dateModified + "</time>";
        l = l + "</div>";
        if(value.mainImage != ""){
            l = l + "<div><img src='" + value.mainImage + "' class='img-responsive'></div>";
        }
        l = l + "<div class='bread'>" + value.text + "</div>";
        l = l + "</div></div>";
        l = l + "</div>";

        return l;
    }

    // Get default
    getPagedJSON(configBlog, 0);
    attachEventsToButtons(configBlog);

});
</script>

<div id="blog-list"></div>
<div id="pagination-blog" class="row pagination-hdc">
    <div class="col-xs-6 col-sm-5">
        <button class="btn btn-default pull-right result-prev"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;@Messages("button.previous")</button>
    </div>
    <div class="col-xs-2 hidden-xs text-center results-total"></div>
    <div class="col-xs-6 col-sm-5">
        <button class="btn btn-default pull-left result-next">@Messages("button.next") &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
</div>