@(blogPost: models.BlogPost,
        metaData: Option[viewmodels.MetaData] = None,
        isThisMyBlogPost: Boolean = false)(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie, messages: Messages)

@avatarUrl = @{if(blogPost.getOwnerProfile.getAvatarImage != null){routes.ImageController.userThumb(blogPost.getOwnerProfile.getAvatarImage.getStoreId).url}else{""} }

@main(Messages("blog.title", blogPost.getTitle, blogPost.getOwnerProfile.profileLinkName), metaData = metaData){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @views.html.profile.profileHeader(blogPost.getOwnerProfile.profileLinkName, blogPost.getOwnerProfile.getOwner.firstName, avatarUrl, showLinkBack = true)
                <div class="row">
                    <div class="col-xs-12 blog-item">
                        <article>
                            <h1 class="page-header">@blogPost.getTitle</h1>
                            @shared.flashmsg(flash)
                            <div class="row">
                                <div class="col-xs-12 col-md-3"><strong>@Messages("blog.created.date")</strong></div>
                                <div class="col-xs-12 col-md-9"><time>@customUtils.Helpers.formatDateForDisplay(blogPost.getCreatedDate)</time></div>
                                <div class="col-xs-12 col-md-3"><strong>@Messages("blog.modified.date")</strong></div>
                                <div class="col-xs-12 col-md-9"><time>@customUtils.Helpers.formatDateForDisplay(blogPost.getLastModifiedDate)</time></div>
                            </div>
                            <hr>
                            @blogPost.getMainImage match {
                                case image: models.files.ContentFile => {
                                    @shared.img(routes.ImageController.blogNormal(image.getStoreId).url, cssClass = "img-responsive")
                                }
                                case _ => {}
                            }
                            <div class="bread">@Html(blogPost.getText)</div>
                            <hr>
                        </article>
                    </div>
                    @if(isThisMyBlogPost){
                        <div class="col-xs-12 big-margin-top">
                            <a href="@controllers.routes.BlogPostsPageController.edit(blogPost.objectId)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Messages("blog.button.edit")</a><br>
                        </div>
                    }
                </div>

            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>


        </div>
    </div>
}