@(aboutUsForm: Form[models.viewmodels.AboutUsForm])(implicit request: RequestHeader, flash: Flash)
@import helper.twitterBootstrap._

<div class="col-xs-8 pull-left {col-md-12}">
    @helper.form(action = routes.SuggestController.suggestFeatures()) {
        <div>
            @shared.flashmsg(flash)
        </div>
        <fieldset>
            @helper.inputTextHorizontal(aboutUsForm("to"), '_label -> Messages("Till"), 'readonly -> "readonly", 'class -> "col-sm-10")
            @helper.inputTextHorizontal(aboutUsForm("name"), '_label -> Messages("Från"), 'readonly -> "readonly", 'class -> "col-sm-10")
            @helper.inputTextHorizontal(aboutUsForm("subject"), '_label -> Messages("Ämne"), 'required -> "required")
            @helper.inputTextHorizontal(aboutUsForm("message"), 'required -> "required", 'type -> "textarea", 'rows -> 6, '_label -> Messages("Meddelande"), 'class -> "richtextuser")
        </fieldset>
        @helper.inputHidden(aboutUsForm("id"))
        <div class="form-actions">
            <button id="send_mail" class="btn btn-primary pull-right" type="submit">@Messages("Skicka")</button>
        </div>
    }
</div>