// Variables
@text-color: #666;
@header-color: #666;
@link-color: #428bca;
@link-color-hover: darken(@link-color, 10%);
@label-color: #666;

// Defaults
html{
  font-family:tahoma,arial,geneva,helvetica,sans-serif;
  color: @text-color;
}

h1,h2,h3,h4,h5,h6{
  color: @header-color;
  font-weight:bold;
}

a{
  text-decoration:none;
  color: @link-color;
}

a:hover{
  text-decoration:underline;
  color: @link-color-hover;
}

label{
  color: @label-color;
  clear:both;
  display: block;
}