// Variables
@text-color: #666;
@header-color: #666;
@header-background-color: #fff;
@maincontent-background-color: #fff;
@footer-background-color: #fff;
@link-color: #428bca;
@link-color-hover: darken(@link-color, 10%);
@label-color: #666;
@input-border-color: #eee;
@input-button-bg-color: #6fc2b5;
@input-button-border-color: #264540;
@input-button-text-color: #fff;

// Defaults
html{
  overflow:-moz-scrollbars-vertical;
  overflow-y:scroll;
  overflow-x:auto;
  font-family:tahoma,arial,geneva,helvetica,sans-serif;
  color: @text-color;
}

body{

}

h1,h2,h3,h4,h5,h6{
  color: @header-color;
  font-weight:bold;
}

a{
  text-decoration:none;
  color: @link-color;
}

a:hover{
  text-decoration:underline;
  color: @link-color-hover;
}

label{
  color: @label-color;
  clear:both;
  display: block;
}

div{
  transition: all 0.3s ease-in-out 0s;
}

img
{
  display:inline-block;
}

// Forms
input[type="text"],
input[type="file"]
{
  border:1px solid @input-border-color;
}
input[type="submit"],
button,
input[type="reset"]
{
  color: @input-button-text-color;
  background-color: @input-button-bg-color;
  text-align:center;
  padding:10px;
  border:1px solid @input-button-border-color;
  border-radius:4px;
  white-space:nowrap;
  margin:10px;
}


// Header
.header-container
{
  position:fixed;
  overflow:visible;
  display:block;
  width:100%;
  height:151px;
  background-image: url("/assets/images/general/bg-header.png");
  background-repeat: repeat-x;
  box-shadow: 0 0 10px 0px #aaa;
  background-color: @header-background-color;
}
.header-spacer
{
  height:151px;
}
.header-logo
{
  height:111px;
}
.header-navigation
{
  background: #CCC;
}

// Footer
.footer-container
{
  background-color: @footer-background-color;
}

// Main content
.maincontent-container
{
  background-color: @maincontent-background-color;
}