@()(implicit flash: Flash)

@mainedit(Messages("edit.content.title")){

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Messages("edit.content.index.header")</h1>
            <p><a href="@routes.ContentController.addContentPage()" class="btn-primary">@Messages("edit.content.actions.add")</a></p>
            <p><a href="@routes.ContentController.listContentPages()" class="btn-primary">@Messages("edit.content.actions.list")</a></p>
        </div>
    </div>

}