@(recipeForm: Form[models.formdata.RecipeForm], editingRecipe: Option[models.Recipe] = None, extraValues: models.viewmodels.EditRecipeExtraValues)(implicit flash: Flash = Flash.emptyCookie, request: RequestHeader, messages: Messages)


@main(Messages("recipe.create.title"), footerHtml = file.modalImages.render(messages)){

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">@Messages("recipe.edit.add.header")</h1>
                        @shared.flashmsg(flash)

                        @helper.form(action=controllers.routes.RecipePageController.addSubmit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal"){
                            <fieldset>
                                @helper.inputText(recipeForm("recipename"), '_label -> Messages("recipe.edit.add.name"), '_help -> Messages("admin.recipe.add.name.validation"))
                                @helper.textarea(recipeForm("recipepreamble"), '_label -> Messages("recipe.edit.add.preamble"), '_help -> Messages("recipe.edit.add.preamble.validation"), '_class -> "recipe-addedit-form-preamble")
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label>@Messages("recipe.edit.add.main-image")</label><br>
                                        @file.previewField(previewId = "recipemainimg", Messages("recipe.edit.add.main-image-preview"), blnShowText = false, prePopulatedWith = extraValues.mainImagePrev)
                                        @file.openModalButton(btnId = "btnrecmainimg", inputSelector = "recipemainimg", selectorMaxItems = extraValues.mainImageMaxNr, btnText = Messages("recipe.edit.add.main-image-btn"))
                                        @helper.inputHidden(recipeForm("recipemainimage"), 'id -> "recipemainimg")

                                        @*
                                        @helper.inputFile(recipeForm("recipemainimage"), '_label -> Messages("recipe.edit.add.main-image"))
                                        @if(editingRecipe.isDefined && editingRecipe.get.getMainImage != null) {
                                            @shared.img(routes.ImageController.recipeNormal(editingRecipe.get.getMainImage.getStoreId).url) - @Messages("recipe.edit.add.main-image.existing")
                                        }*@
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label>@Messages("recipe.edit.add.images", extraValues.recipeImagesMaxNr)</label><br>
                                        @file.previewField(previewId = "recipeimages", Messages("recipe.edit.add.images-preview"), blnShowText = false, prePopulatedWith = extraValues.recipeImagesPrev)
                                        @file.openModalButton(btnId = "btnrecipeimages", inputSelector = "recipeimages", selectorMaxItems = extraValues.recipeImagesMaxNr, btnText = Messages("recipe.edit.add.images-btn"))
                                        @helper.inputHidden(recipeForm("recipeimages"), 'id -> "recipeimages")
                                    </div>
                                </div>

                               @*
                                @defining(List(1,2,3,4,5)){ items =>
                                    @for(i <- items) {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                @helper.inputFile(recipeForm("recipeimage" + i), '_label -> Messages("recipe.edit.add.image", i))
                                                @if(sortedImages.isDefined && sortedImages.get.isDefinedAt(i)) {
                                                    @shared.img(routes.ImageController.recipeThumb(sortedImages.get(i).getStoreId).url) - @Messages("recipe.edit.add.main-image.existing")
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                *@
                                @helper.textarea(recipeForm("recipebody"), '_label -> Messages("recipe.edit.add.body"), 'class -> "richtext-extra")
                                @helper.inputHidden(recipeForm("receipeid"))
                            </fieldset>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;@Messages("recipe.edit.save")</button>
                                @defining(if(editingRecipe.isDefined){
                                    controllers.routes.RecipePageController.viewRecipeByNameAndProfile(editingRecipe.get.getOwnerProfile.profileLinkName,editingRecipe.get.getLink).url
                                }else{
                                    controllers.routes.UserProfileController.viewProfileByLoggedInUser().url
                                }) { abortLink: String =>
                                    <a class="btn" data-loading-text="@Messages("recipe.edit.saving")" href="@abortLink">@Messages("recipe.edit.abort")</a>
                                }
                                @if(recipeForm("receipeid").value.nonEmpty) {
                                    <a class="btn btn-danger pull-right" data-confirm-type="link" data-confirm-btn-ok="@Messages("recipe.edit.delete.ok")" data-confirm-title="@Messages("recipe.edit.delete.title")" data-confirm-btn-cancel="@Messages("recipe.edit.delete.abort")" data-confirm-text="@Messages("recipe.edit.delete.confirm")" href="@controllers.routes.RecipePageController.delete(java.util.UUID.fromString(recipeForm("receipeid").value.get))"><span class="glyphicon glyphicon-trash"></span>&nbsp;@Messages("recipe.edit.delete")</a>
                                }
                            </div>
                        }
                        </div>
                </div>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
            @shared.banner()
            </div>
        </div>
    </div>
}