@(recipe: models.Recipe,
        recipeBoxes: Option[List[models.viewmodels.RecipeBox]] = None,
        isThisMyRecipe: Boolean = false)(implicit request: RequestHeader)

@main(Messages("recipe.title")) {

    <div class="container host-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @views.html.profile.profileHeader(recipe.getOwnerProfile.profileLinkName)
                <div class="row">
                    <div class="col-xs-12 big-margin-top">
                        <h1 class="page-header">@recipe.getName</h1>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <article>
                                @if(!recipe.getPreAmble.isEmpty) {
                                    <p class="lead">@recipe.getPreAmble</p>
                                }
                                @if(!recipe.getMainBody.isEmpty) {
                                    <div class="breadtext">@Html(recipe.getMainBody)</div>
                                }
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-8 host-image-gallery">

                        <div id="host-main-carousel" data-ride="carousel" data-interval="4000" class="carousel slide">
                                <!-- Slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">@shared.img("images/host/image1.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="1">@shared.img("images/host/image2.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="2">@shared.img("images/host/image3.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="3">@shared.img("images/host/image4.jpg", cssClass = "img-responsive")</div>
                            </div>
                                <!-- Carousel nav controls -->
                            <a class="carousel-control left hidden-md hidden-lg" href="#host-main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="carousel-control right hidden-md hidden-lg" href="#host-main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                            <!-- Thumbnails, don't show responsive -->
                        <ul class="host-main-carousel-thumbs list-inline hidden-xs hidden-sm">
                            <li class="col-md-3"><a id="carousel-selector-0" class="selected">@shared.img("images/host/image1.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-1">@shared.img("images/host/image2.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-2">@shared.img("images/host/image3.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-3">@shared.img("images/host/image4.jpg", cssClass = "img-responsive")</a></li>
                        </ul>

                        <div class="col-xs-12 margin-top">
                            @shared.hdcShare(url = request.uri)
                            @shared.fbShare(url = request.uri)
                        </div>
                    </div>

                    @if(isThisMyRecipe){
                        <div class="col-xs-12 big-margin-top">
                            <a href="@controllers.routes.RecipePageController.edit(recipe.objectId)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Messages("recipe.button.edit")</a><br>
                        </div>
                    }
                </div>
            </div>

                <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}