@(profileName: String)

<script>
$(document).ready(function(){

    var map = 0;
    var resultsNextBtn = "#resultNext";
    var resultsPrevBtn = "#resultPrev";
    var resultsTotal = "#resultsTotal";


    function boxTemplate(value){
        var l = "";
        l = l + "<div class='col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-recipe-boxes'><a href='" + value.linkToRecipe + "' class='link-recipe-panel'>";
        l = l + "<div class='thumbnail panel-recipe hover-green-dropshadow'>";
        l = l + "<div class='body'>";
        l = l + "<div class='crop-height'><img src='" + value.mainImage + "' class='img-responsive'></div>";
        l = l + "<h2>" + value.name + "</h2>";
        l = l + "<div class='preamble'>" + value.preAmble + "</div>";
        l = l + "</div></div>";
        l = l + "</a></div>";

        return l;
    }

    function getBoxesAsJSON(pageDirection){
        $.getJSON('@{routes.RecipePageController.viewRecipeByNameAndProfilePageJSON()}?profileName=@profileName&page=' + (map+pageDirection) + '&tid=' + Date(), function(data){
            var nrOfItems = 0;
            var myArr = [];
            var hasNext = false;
            var hasPrev = false;
            var totalCount = 0;
            var totalPages = 0;

            $.each(data,function(key,value) {
                if(nrOfItems == 0){
                    hasNext = value.hasNext;
                    hasPrev = value.hasPrevious;
                    totalCount = value.recipeBoxCount;
                    totalPages = value.totalPages;
                }

                nrOfItems = nrOfItems + 1;
                myArr.push(boxTemplate(value));
            });

            if(nrOfItems > 0) {
                if(hasNext)
                    $(resultsNextBtn).show();
                else
                    $(resultsNextBtn).hide();

                if(hasPrev)
                    $(resultsPrevBtn).show();
                else
                    $(resultsPrevBtn).hide();

                map = map + pageDirection;

                if(totalPages > 1)
                    $(resultsTotal).html((map+1) + " / " + totalPages);

                $('#recipeList').html(myArr.join(''));
            }

        });
    }

    // Get default
    getBoxesAsJSON(0);

    // Attach events to buttons
    $(resultsNextBtn).off("click").on("click", function(){getBoxesAsJSON(1)});
    $(resultsPrevBtn).off("click").on("click", function(){getBoxesAsJSON(-1)});

});
</script>

<div class="row" id="recipeList"></div>
<div class="row pagination-hdc">
    <div class="col-xs-6 col-sm-5">
        <button id="resultPrev" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;@Messages("recipe.box.button.previous")</button>
    </div>
    <div id="resultsTotal" class="col-xs-2 hidden-xs text-center"></div>
    <div class="col-xs-6 col-sm-5">
        <button id="resultNext" class="btn btn-default pull-left">@Messages("recipe.box.button.next") &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
</div>