@(recipe: models.Recipe,
        recipeBoxes: Option[List[models.viewmodels.RecipeBox]] = None,
        isThisMyRecipe: Boolean = false)(implicit request: RequestHeader)
@import scala.collection.JavaConverters._
@import utils.Helpers

@rotateCss(min: Int, max: Int) = @{
    val res = Helpers.randomBetween(min,max)
    "-ms-transform: rotate(" + res + "deg);-webkit-transform: rotate(" + res + "deg);transform: rotate(" + res + "deg);"
}


@main(Messages("recipe.title")) {

    <div class="container host-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @defining(if(recipe.getOwnerProfile.getAvatarImage != null){recipe.getOwnerProfile.getAvatarImage.getTransformByName("thumbnail").getUrl}else{""}) { avatarUrl =>
                    @views.html.profile.profileHeader(recipe.getOwnerProfile.profileLinkName, avatarUrl)
                }
                <div class="row">
                    <div class="col-xs-12 big-margin-top">
                        <h1 class="page-header">@recipe.getName</h1>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <section>
                            <article>
                                @if(!recipe.getPreAmble.isEmpty) {
                                    <p class="lead">@recipe.getPreAmble</p>
                                }
                                @if(!recipe.getMainBody.isEmpty) {
                                    <div class="breadtext">@Html(recipe.getMainBody)</div>
                                }
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-8">

                        @recipe.getMainImage match {
                            case null => {  }
                            case image: models.files.ContentFile => {
                                @defining(recipe.getRecipeImages.asScala) { recipeImages =>

                                    <div id="recipe-carousel" data-ride="carousel" data-interval="4000" class="carousel slide hdc-carousel host-image-gallery">
                                            <!-- Slider carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item" data-slide-number="0">@shared.img(image.getTransformByName("normal").getUrl, cssClass = "img-responsive")</div>
                                            @if(recipeImages.nonEmpty) {
                                                @for((recipeImage,i) <- recipeImages.zipWithIndex) {
                                                    <div class="item" data-slide-number="@(i+1)">@shared.img(recipeImage.getTransformByName("normal").getUrl, cssClass = "img-responsive")</div>
                                                }
                                            }
                                        </div>
                                            <!-- Carousel nav controls -->
                                        <a class="carousel-control left hidden-md hidden-lg" href="#recipe-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                        <a class="carousel-control right hidden-md hidden-lg" href="#recipe-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>

                                    @if(recipeImages.nonEmpty) {
                                        <!-- Thumbnails, don't show responsive -->
                                        <ul class="recipe-carousel-thumbs list-inline hidden-xs hidden-sm">
                                            <li class="col-md-3">
                                                <a id="carousel-selector-0">@shared.img(image.getTransformByName("thumbnail").getUrl, cssClass = "img-responsive polaroid", cssStyle = rotateCss(-8,8))</a>
                                            </li>
                                            @if(recipeImages.nonEmpty) {
                                                @for((recipeImage,i) <- recipeImages.zipWithIndex) {
                                                    <li class="col-md-3"><a id="carousel-selector-@(i+1)">@shared.img(recipeImage.getTransformByName("thumbnail").getUrl, cssClass = "img-responsive polaroid", cssStyle = rotateCss(-8,8))</a></li>
                                                }
                                            }
                                        </ul>
                                    }

                                }
                            }
                        }


                        <div class="col-xs-12 margin-top">
                            @shared.hdcShare(url = request.uri)
                            @shared.fbShare(url = request.uri)
                        </div>
                    </div>

                    @if(isThisMyRecipe){
                        <div class="col-xs-12 big-margin-top">
                            <a href="@controllers.routes.RecipePageController.edit(recipe.objectId)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Messages("recipe.button.edit")</a><br>
                        </div>
                    }
                </div>
            </div>

                <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}