@(boxes: List[models.viewmodels.RecipeBox] = Nil, profileName: String)
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



<script>
$(document).ready(function(){

<!-- get defualt page -->

    var map = 0;

    var myArr = [];

$.getJSON('/recipe/json/recipeListJson?profileName=@profileName&recipeName=test&page=' + map + '&tid=' + Date(), function(data){
var antal = 0;



   myArr.push("<table width='100%'>");
    $.each(data,function(key,value) {
        antal = antal + 1;
    var l = "";
    if(antal == 1){
        l = l + "<tr>";
    }
    l = l + "<td width='30%'><a href='http://" + value.linkToRecipe + "' class='link-recipe-panel'>";
    l = l + "<div class='thumbnail panel-recipe hover-green-dropshadow'>";
    l = l + "<div class='body'>";
    l = l + "<img src='" + value.mainImage + "' class='img-responsive'>";
    l = l + "<h2>" + value.name + "</h2>";
    l = l + "<div class='preamble'>" + value.preAmble + "</div>";
    l = l + "<button onclick='http://" + value.linkToRecipe + "' ";
    l = l + "class='btn btn-primary btn-xs btn-link-to-recipe pull-right'>Visa recept</button>";
    l = l + "</div></div>";
    l = l + "</a><td>";




    if(antal == 3) {
        l = l + "</tr>";
    }
       myArr.push(l);
    })

        if(antal > 0) {
        $('#recipeList').html(myArr.join(''));
        $('#recipeList').append('</table>');
        }

    })

    <!-- OnClick button -->

        $("#resultNext").click(function(){
        var myArr = [];


        $.getJSON('/recipe/json/recipeListJson?profileName=@profileName&recipeName=test&page=' + (map+1) + '&tid=' + Date(), function(data){

        var antal = 0;

        myArr.push("<table>");
        $.each(data,function(key,value) {
        antal = antal + 1;
        var l = "";
        if(antal == 1){
        l = l + "<tr>";
        }
        l = l + "<td width='30%'><a href='http://" + value.linkToRecipe + "' class='link-recipe-panel'>";
        l = l + "<div class='thumbnail panel-recipe hover-green-dropshadow'>";
        l = l + "<div class='body'>";
        l = l + "<img src='" + value.mainImage + "' class='img-responsive'>";
        l = l + "<h2>" + value.name + "</h2>";
        l = l + "<div class='preamble'>" + value.preAmble + "</div>";
        l = l + "<button onclick='http://" + value.linkToRecipe + "' ";
        l = l + "class='btn btn-primary btn-xs btn-link-to-recipe pull-right'>Visa recept</button>";
        l = l + "</div></div>";
        l = l + "</a><td>";

        if(antal == 3) {
        l = l + "</tr>";
        }
        myArr.push(l);
        })

        if(antal > 0) {
            map = map + 1;
            $('#recipeList').html(myArr.join(''));
            $('#recipeList').append('</table>');
        }


        })
        });







        <!-- Previous -->
        $("#resultPrev").click(function(){
        var myArr = [];


        $.getJSON('/recipe/json/recipeListJson?profileName=@profileName&recipeName=test&page=' + (map-1) + '&tid=' + Date(), function(data){

        var antal = 0;

        myArr.push("<table width='100%'>");
        $.each(data,function(key,value) {
        antal = antal + 1;
        var l = "";
        if(antal == 1){
        l = l + "<tr>";
        }
        l = l + "<td width='30%'><a href='http://" + value.linkToRecipe + "' class='link-recipe-panel'>";
        l = l + "<div class='thumbnail panel-recipe hover-green-dropshadow'>";
        l = l + "<div class='body'>";
        l = l + "<img src='" + value.mainImage + "' class='img-responsive'>";
        l = l + "<h2>" + value.name + "</h2>";
        l = l + "<div class='preamble'>" + value.preAmble + "</div>";
        l = l + "<button onclick='http://" + value.linkToRecipe + "' ";
        l = l + "class='btn btn-primary btn-xs btn-link-to-recipe pull-right'>Visa recept</button>";
        l = l + "</div></div>";
        l = l + "</a><td>";

        if(antal == 3) {
        l = l + "</tr>";
        }
        myArr.push(l);
        })


        if(antal > 0) {
        map = map - 1;
        $('#recipeList').html(myArr.join(''));
        $('#recipeList').append('</table>');
        }


        })

        });
        });


    <!-- Onclick button -->




</script>

<br>
<button id="resultPrev" class="btn btn-primary btn-xs btn-link-to-recipe pull-right">bakåt</button>
<button id="resultNext" class="btn btn-primary btn-xs btn-link-to-recipe pull-right">framåt</button>
<br>
<div id="recipeList" class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-recipe-boxes">

</div>


<!--
@if(!boxes.isEmpty) {
    @for((box: models.viewmodels.RecipeBox,i) <- boxes.zipWithIndex){
        <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-recipe-boxes">
            <a href="@box.linkToRecipe" class="link-recipe-panel">
                <div class="thumbnail panel-recipe hover-green-dropshadow">
                    @if(box.mainImage.nonEmpty){<img src="@box.mainImage" class="img-responsive">}
                    <div class="body">
                        <h2>@box.name</h2>
                        <div class="preamble">@box.preAmble</div>
                        <button onclick="@box.linkToRecipe" class="btn btn-primary btn-xs btn-link-to-recipe pull-right">@Messages("recipe.box.button")</button>
                    </div>
                </div>
            </a>
        </div>
    }
}
-->