@(title: String,
        footerScripts: Html = Html(""),
        headerCss: Html = Html(""),
        footerHtml: Html = Html(""))(content: play.twirl.api.Html)(implicit flash: Flash = Flash.emptyCookie, messages: Messages)
@import play.twirl.api.Html
<!DOCTYPE html>

<html lang="@Messages("main.language")">
    <head>
        <title>@title - @Messages("admin.title")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="@routes.Assets.versioned("js/libs/jquery.1.11.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery-validation-1.14.0/dist/jquery.validate.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("js/libs/bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.min.css")">
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")">
        @headerCss
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a class="text-orange" href="@controllers.admin.routes.AdminController.index()">@Messages("admin.menu.title")</a></li>
                    <li><a href="@controllers.admin.routes.AdminContentController.listAll()"><span class="glyphicon glyphicon-file"></span>&nbsp;@Messages("admin.menu.pages")</a></li>
                    <li><a href="@controllers.admin.routes.AdminRecipeController.listAll()"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;@Messages("admin.menu.recipe")</a></li>
                    <li><a href="@controllers.admin.routes.AdminEventController.editIndex()"><span class="glyphicon glyphicon-calendar"></span>&nbsp;@Messages("admin.menu.event")</a></li>
                    <li><a href="@controllers.admin.routes.AdminCountyController.listAll()"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;@Messages("admin.menu.county")</a></li>
                    <li><a href="@controllers.admin.routes.AdminTagWordController.listAll()"><span class="glyphicon glyphicon-tags"></span>&nbsp;@Messages("admin.menu.tagword")</a></li>
                    <li><a href="@controllers.admin.routes.AdminUserCredentialController.listAll()"><span class="glyphicon glyphicon-user"></span>&nbsp;@Messages("admin.menu.users")</a></li>
                    <li><a href="@controllers.admin.routes.AdminUserRoleController.editIndex()"><span class="glyphicon glyphicon-lock"></span>&nbsp;@Messages("admin.menu.roles")</a></li>
                    <li><a href="@controllers.admin.routes.AdminFileController.editIndex()"><span class="glyphicon glyphicon-picture"></span>&nbsp;@Messages("admin.menu.files")</a></li>
                    <li><a href="@controllers.admin.routes.AdminReleaseController.editIndex()"><span class="glyphicon glyphicon-transfer"></span>&nbsp;@Messages("admin.menu.release")</a></li>
                    <li><a href="@routes.StartPageController.index()"><span class="glyphicon glyphicon-globe"></span>&nbsp;@Messages("admin.menu.backtosite")</a></li>
                </ul>
            </div>
            <div class="container">
                @shared.flashmsg(flash)
                @content
            </div>
        </div>

        @footerHtml

        @*TODO - Bundle *@
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("tinymce/tinymce.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery.gray.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery.collapser.2.0.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/star-rating.2.0.0.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/bootbox.4.3.0.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/moment-2.10.6/min/moment-with-locales.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js")"></script>
        @views.html.file.fileScripts()
        <script src="@routes.Assets.versioned("js/app/tinymce-init.js")"></script>
        <script src="@routes.Assets.versioned("js/app/confirm-alerts.js")"></script>
        @shared.modalConfirm()
        @footerScripts
    </body>
</html>
