@(title: String)(content: Html)(implicit flash: Flash = Flash.emptyCookie)
<!DOCTYPE html>

<html lang="@Messages("main.language")">
    <head>
        <title>@title - @Messages("edit.title")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        <div id="wrap">
            <div class="container-fluid">
                <div class="navbar-static-top">
                    <a class="navbar-brand" href="#">@Messages("edit.menu.title")</a>
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.ContentController.indexContentPages()">@Messages("edit.menu.pages")&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
                        <li><a href="@routes.RecipeController.indexRecipe()">@Messages("edit.menu.recipe")&nbsp;<span class="glyphicon glyphicon-leaf"></span></a></li>
                        <li><a href="@routes.CountyController.indexCounty()">@Messages("edit.menu.county")&nbsp;<span class="glyphicon glyphicon-road"></span></a></li>
                        <li><a href="#">@Messages("edit.menu.users")&nbsp;<span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="@routes.FileController.index()">@Messages("edit.menu.files")&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="@routes.StartPageController.index()"><span class="glyphicon glyphicon-globe"></span>&nbsp;@Messages("edit.menu.backtosite")</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                @shared.flashmsg(flash)
                @content
            </div>
        </div>
        @*TODO - Create controllers with local backups, also bundle *@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/site.js")"></script>
    </body>
</html>
