@(title: String,
        headerVisible: Boolean = true,
        footerVisible: Boolean = true,
        footerScripts: Html = Html(""),
        headerCss: Html = Html(""),
        headerMeta: Html = Html(""),
        footerHtml: Html = Html(""),
        metaData: Option[viewmodels.MetaData] = None
        )(content: Html)(implicit request: RequestHeader, messages: Messages)
@import play.twirl.api.Html

<!DOCTYPE html>

<html lang="@Messages("main.language")">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title - @Messages("main.title")</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @header.meta(metaData)
        <script src="@routes.Assets.versioned("js/libs/jquery.1.11.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery-validation-1.14.0/distribution/jquery.validate.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("js/libs/bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.min.css")">
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")">
        @headerCss
    </head>
    <body>
        <div class="content-wrap">
            @if(headerVisible){
                @header.header()
            }
            @content
            <div id="footer-push"></div>
        </div>
        @if(footerVisible){ @footer.footer() }
        <div id="fb-root"></div>
        @footerHtml

        @*TODO - Bundle *@
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("tinymce/tinymce.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery.gray.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/jquery.collapser.2.0.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/star-rating.2.0.0.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/bootbox.4.3.0.min.js")"></script>

        <script src="@routes.Assets.versioned("js/libs/moment-2.10.6/min/moment-with-locales.min.js")"></script>
        <script src="@routes.Assets.versioned("js/libs/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js")"></script>
        @views.html.file.fileScripts()
        <script src="@routes.Assets.versioned("js/site.js")"></script>
        <script src="@routes.Assets.versioned("js/app/ga.js")"></script>
        <script src="@routes.Assets.versioned("js/app/tinymce-init.js")"></script>
        <script src="@routes.Assets.versioned("js/app/confirm-alerts.js")"></script>
        <script src="@routes.Assets.versioned("js/app/json-requests.js")"></script>
        <script src="@routes.Assets.versioned("js/app/multi-form.js")"></script>
        @footerScripts
    </body>
</html>
