@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="@Messages("main.language")">
    <head>
        <title>@title - @Messages("main.title")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        @header.header()
        <div class="container">@content</div>
        @footer.footer()

        @* TODO:Create controllers with local backups *@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    </body>
</html>
