@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title - @Messages("main.title")</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @* TODO:Create controllers with local backups *@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    </head>
    <body>
        @header.header()
        @content
    </body>
</html>
