@(title: String, footerScripts: Html = Html(""), headerCss: Html = Html(""))(content: Html)(implicit flash: Flash = Flash.emptyCookie)
<!DOCTYPE html>

<html lang="@Messages("main.language")">
    <head>
        <title>@title - @Messages("admin.title")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        @headerCss
    </head>
    <body>
        <div id="wrap">
            <div class="container-fluid">
                <div class="navbar-static-top">
                    <a class="navbar-brand" href="#">@Messages("admin.menu.title")</a>
                    <ul class="nav navbar-nav">
                        <li><a href="@controllers.admin.routes.AdminContentController.editIndex()">@Messages("admin.menu.pages")&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminRecipeController.editIndex()">@Messages("admin.menu.recipe")&nbsp;<span class="glyphicon glyphicon-leaf"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminCountyController.editIndex()">@Messages("admin.menu.county")&nbsp;<span class="glyphicon glyphicon-road"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminTagWordController.editIndex()">@Messages("admin.menu.tagword")&nbsp;<span class="glyphicon glyphicon-bookmark"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminUserCredentialController.editIndex()">@Messages("admin.menu.users")&nbsp;<span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminUserRoleController.editIndex()">@Messages("admin.menu.roles")&nbsp;<span class="glyphicon glyphicon-lock"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminFileController.editIndex()">@Messages("admin.menu.files")&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
                        <li><a href="@controllers.admin.routes.AdminReleaseController.editIndex()">@Messages("admin.menu.release")&nbsp;<span class="glyphicon glyphicon-asterisk"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="@routes.StartPageController.index()"><span class="glyphicon glyphicon-globe"></span>&nbsp;@Messages("admin.menu.backtosite")</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                @shared.flashmsg(flash)
                @content
            </div>
        </div>
        @*TODO - Create controllers with local backups, also bundle *@
        <script src="@routes.Assets.at("js/libs/jquery.1.11.1.min.js")"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("tinymce/tinymce.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/jquery.gray.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/star-rating.2.0.0.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/bootbox.4.3.0.min.js")"></script>
        <script src="@routes.Assets.at("js/site.js")"></script>
        @shared.modalConfirm()
        @footerScripts
    </body>
</html>
