
<div id="mc_embed_signup">
    <form action="http://homediningclub.us8.list-manage.com/subscribe/post?u=0267fbf83c32c7d4cd7624514&amp;id=c36f952e8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
        <label for="mce-EMAIL">@Messages("campaign.newsletterform.title")</label>
        <div>@Messages("campaign.newsletterform.text")</div>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_0267fbf83c32c7d4cd7624514_c36f952e8d" value=""></div>
        <div class="clear"><input type="submit" value="@Messages("campaign.newsletterform.button.send")" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
</div>

