@(userProfile: UserProfile, blogPostsCount: Int, isThisMyProfile: Boolean)(implicit messages: Messages)
@if(isThisMyProfile) {
  <div class="col-xs-12">
    <div class="btn-group btn-edit-group">
      <a href="@controllers.routes.BlogPostsPageController.add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @Messages("profile.button.blog.add")</a>
    </div>
  </div>
}
@if(blogPostsCount > 0) {
    @blog.blogBox(userProfile.profileLinkName)
}else{
    <div class="well well-hdc">
        @Messages("profile.blog.no-entries", userProfile.profileLinkName)
    </div>
}