@(UserProfileForm: Form[models.formdata.UserProfile])

@helper.form(action = routes.UserProfileController.save()) {

    @if(UserProfileForm.hasGlobalErrors) {
        <ul>
        @UserProfileForm.globalErrors.foreach { error =>
            <li>error.message</li>
        }
        </ul>
    }



    @helper.inputText(UserProfileForm("userName"),
    'id -> "userName",
    '_showErrors -> true,
    '_label -> "Användarnamn",
    '_help -> "Användarnamn får inte vara tomt"
    )

    @helper.inputText(UserProfileForm("emailAddress"),
        'id -> "emailAddress",
        '_label -> "E-postadress",
        '_showErrors -> true,
        '_help -> "Skriv in din e-postadress"
    )


    <input type="submit" value="Spara">

}