@(UserProfileForm: Form[models.formdata.UserProfileForm], element : List[Type])(implicit request: RequestHeader)

@helper.form(action = routes.UserProfileController.save()) {


<h2>Registrera användareuppgifter</h2>



    @if(UserProfileForm.hasGlobalErrors) {
        <ul>
        @UserProfileForm.globalErrors.foreach { error =>
            <li>error.message</li>
        }
        </ul>
    }

        @helper.inputText(UserProfileForm("emailAddress"),
        'id -> "emailAddress",
        '_label -> "E-postadress",
        '_showErrors -> true,
        '_help -> "Skriv in din e-postadress"
        )

    @helper.inputText(UserProfileForm("userName"),
        'id -> "userName",
        '_showErrors -> true,
        '_label -> "Användarnamn",
        '_help -> "Användarnamn får inte vara tomt"
    )

    @helper.inputText(UserProfileForm("firstName"),
        'id -> "firstname",
        '_showErrors -> true,
        '_label -> "Förnamn",
        '_help -> "Förnamn"
    )

    @helper.inputText(UserProfileForm("lastName"),
        'id -> "lastname",
        '_showErrors -> true,
        '_label -> "Efternammn",
        '_help -> "Efternamn"
    )




    @helper.inputText(UserProfileForm("idno"),
        'id -> "idno",
        '_showErrors -> true,
        '_label -> "idno",
        '_help -> "Hidden value, visas endast under utveckling"
    )

     <p>Beskrivning:</p>

    <textarea name="aboutMe" rows="12" cols="100">
    </textarea>

    @helper.inputText(UserProfileForm("aboutme"),
        'id -> "aboutme",
        '_showErrors -> true,
        '_label -> "Beskrivning",
        '_help -> "Beskrivning"
    )

<br>

<p>
        <input type="checkbox" id="pay" name="pay" value="pay">
        Guld medlem?
        </input>
</p>


<p>
<input type="checkbox" id="host" name="quality" value="host">
Värd?
</input>
</p>


<br>

Jag är bra på:
@for(t <- element) {
    <br>
    <input type="checkbox" id="@t.name" name="@t.v" value="@t.name">
        @t.name
    </input>
}





<br>

    <input type="submit" value="Spara">

}