@(profileDataForm: Form[UserProfileDataForm],
        tagListForm: Form[TagListForm],
        listOfTags: Option[List[models.profile.TagWord]],
        optionsLocationAreas: Option[Seq[(String, String)]] = None,
        editingProfile: Option[UserProfile] = None,
        termsAndConditions: Option[models.content.ContentPage] = None,
        extraValues: models.viewmodels.EditProfileExtraValues)(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie, messages: Messages)

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-4", "col-md-4")
}
@widerFC = @{
    b3.horizontal.fieldConstructor("col-md-4", "col-md-6")
}
@inlineFC = @{
    b3.inline.fieldConstructor
}

@scrollIntoView = {
    <script src="@routes.Assets.versioned("js/app/edit-profile.js")"></script>
}

@main(Messages("profile.create.title"), footerHtml = file.modalImages.render(messages), footerScripts = scrollIntoView) {

    <div class="container maincontent-container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>@Messages("profile.create.title")</h1>
                </div>
                <p>@Messages("profile.create.text")</p>

                @shared.flashmsg(flash)
                @shared.listFormErrors(profileDataForm)

            </div>
        </div>
        <div class="row">
        @b3.form(action = routes.UserProfileController.editSubmit(), 'enctype -> "multipart/form-data") {
            <div class="col-xs-12">
                <nav>
                    <ul class="nav nav-tabs nav-justified nav-tabs-profile-edit">
                        <li class="active"><a data-toggle="tab" href="#profile-tab-name" title="@Messages("profile.create.tabs.profile-name.food.title")">@Messages("profile.create.tabs.profile-name.food.name")</a></li>
                        <li><a data-toggle="tab" href="#profile-tab-about-me" title="@Messages("profile.create.tabs.about-me.title")">@Messages("profile.create.tabs.about-me.name")</a></li>
                        <li><a data-toggle="tab" href="#profile-tab-food" title="@Messages("profile.create.tabs.food.title")">@Messages("profile.create.tabs.food.name")</a></li>
                        <li><a data-toggle="tab" href="#profile-tab-personal-info" title="@Messages("profile.create.tabs.personal-information.title")">@Messages("profile.create.tabs.personal-information.name")</a></li>
                        <li><a data-toggle="tab" href="#profile-tab-host" title="@Messages("profile.create.tabs.host.title")">@Messages("profile.create.tabs.host.name")</a></li>
                        <li><a data-toggle="tab" href="#profile-tab-media" title="@Messages("profile.create.tabs.media.title")">@Messages("profile.create.tabs.media.name")</a></li>
                    </ul>
                </nav>
            </div>

            <div class="tab-content">
                <div class="tab-pane tab-hdc fade in active" id="profile-tab-name">
                    <div class="col-xs-12 big-margin-top">
                        @b3.text(profileDataForm("name"),
                            'id -> "name",
                            '_label -> Messages("profile.create.form.profilename"),
                            '_help -> Messages("profile.create.form.profilename.required")
                        )
                        @helper.inputHidden(profileDataForm("name2"),
                            'id -> "name2",
                            '_label -> Messages("profile.create.form.profilename"),
                            '_help -> ""
                        )

                        <div class="row"><div class="col-xs-12 col-md-push-4 col-md-6">@Html(Messages("profile.create.form.profilename.help"))<hr></div></div>

                        @defining("<a data-toggle=\"modal\" href=\"#modalAcceptTerms\">" + Messages("profile.create.accept.link.text") + "&nbsp;<span class=\"glyphicon glyphicon-new-window\"></span></a>") { linkToTerms: String =>
                            @defining(Html(Messages("profile.create.accept.help", linkToTerms))){ helpMessage: Html =>
                                @b3.checkbox(profileDataForm("acceptTerms"),
                                    'id -> "acceptTerms",
                                    '_label -> Messages("profile.create.accept.label"),
                                    '_text -> Messages("profile.create.accept.text")
                                )
                                <div class="row"><div class="col-xs-12 col-md-push-4 col-md-6">@helpMessage</div></div>
                            }

                        }
                    </div>
                </div>

                <div class="tab-pane tab-hdc fade" id="profile-tab-about-me">
                    <div class="col-xs-12">
                        <h3 class="lead">@Messages("profile.create.header.about-me")</h3>

                        @b3.text(profileDataForm("aboutmeheadline"),
                            'id -> "aboutmeheadline",
                            '_label -> Messages("profile.create.form.aboutmeheadline"),
                            '_help -> Messages("profile.create.form.aboutmeheadline.help")
                        )

                        <hr>
                        <div class="form-group">
                            <label class="control-label col-md-4">@Messages("profile.create.form.avatar-image")</label>
                            <div class="col-md-8">
                                @file.previewField(previewId = "inputchooseavatarimg", Messages("profile.create.form.avatar-image-preview"), blnShowText = false, prePopulatedWith = extraValues.avatarImagePrev)
                                @file.openModalButton(btnId = "btnchooseavatarimg", inputSelector = "inputchooseavatarimg", selectorMaxItems = extraValues.avatarImageMaxNr, btnText = Messages("profile.create.form.avatar-image-btn"))
                                @helper.inputHidden(profileDataForm("avatarimage"), 'id -> "inputchooseavatarimg")
                            </div>
                        </div>
                        <hr>

                        @b3.textarea(profileDataForm("aboutme"),
                            'id -> "aboutme",
                            'class -> "richtext-extra",
                            '_label -> Messages("profile.create.form.aboutme"),
                            '_help -> Messages("profile.create.form.aboutme.help")
                        )(widerFC, messages)

                        <hr>
                        <div class="form-group">
                            <label class="control-label col-md-4">@Messages("profile.create.form.main-image")</label>
                            <div class="col-md-8">
                                @file.previewField(previewId = "inputchoosemainimage", Messages("profile.create.form.main-image-preview"), blnShowText = false, prePopulatedWith = extraValues.mainImagePrev)
                                @file.openModalButton(btnId = "btnchoosemainimage", inputSelector = "inputchoosemainimage", selectorMaxItems = extraValues.mainImageMaxNr, btnText = Messages("profile.create.form.main-image-btn"))
                                @helper.inputHidden(profileDataForm("mainimage"), 'id -> "inputchoosemainimage")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane tab-hdc fade" id="profile-tab-food">
                    <div class="col-xs-12">
                        <h3 class="lead">@Messages("profile.create.header.food")</h3>


                        <!-- Tags -->
                        <div class="form-group">
                            <label class="control-label col-md-4">@Messages("profile.create.header.food-label")</label>

                            @if(listOfTags.nonEmpty){
                                <div class="col-xs-12 col-md-2">
                                    @for((t: models.profile.TagWord, index) <- listOfTags.get.zipWithIndex) {
                                        @defining(index % 9 == 0 && index > 0) { colBreak: Boolean =>
                                            @if(colBreak) { @Html("</div><div class='col-xs-12 col-md-2'>") }
                                            @defining(if(tagListForm.get.tagList.nonEmpty && tagListForm.get.tagList.get.exists(b => b.value == t.objectId.toString)) {"checked"} else {""}) { selectedValue: String =>
                                                @defining("tagList["+index+"]") { tagNumber: String =>
                                                    <input type="checkbox" id="@(tagNumber + ".value")" name='@(tagNumber + ".value")' value="@t.objectId" @selectedValue> &nbsp; <label for="@(tagNumber + ".value")" class="notbold">@t.tagName</label><br>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="tab-pane tab-hdc fade" id="profile-tab-personal-info">
                    <div class="col-xs-12">
                        <h3 class="lead">@Messages("profile.create.header.personal-information")</h3>

                            <!-- firstName -->
                        @b3.text(profileDataForm("firstName"),
                            'id -> "firstName",
                            '_label -> Messages("profile.create.form.firstName"),
                            '_help -> Messages("profile.create.form.firstName.help")
                        )

                            <!-- lastName -->
                        @b3.text(profileDataForm("lastName"),
                            'id -> "lastName",
                            '_label -> Messages("profile.create.form.lastName"),
                            '_help -> Messages("profile.create.form.lastName.help")
                        )


                            <!-- e-mailaddress -->
                        @b3.text(profileDataForm("emailAddress"),
                            'id -> "emailAddress",
                            '_label -> Messages("profile.create.form.emailAddress"),
                            '_help -> Messages("profile.create.form.emailAddress.help")
                        )


                        @helper.inputHidden(profileDataForm("emailAddress2"),
                            'id -> "emailAddress2",
                            '_label -> Messages("profile.create.form.emailAddress"),
                            '_help -> ""
                        )


                        @b3.text(profileDataForm("streetAddress"),
                            'id -> "streetAddress",
                            '_label -> Messages("profile.create.form.streetAddress"),
                            '_help -> Messages("profile.create.form.streetAddress.help")
                        )

                        @b3.text(profileDataForm("zipCode"),
                            'id -> "zipCode",
                            '_label -> Messages("profile.create.form.zipCode"),
                            '_help -> Messages("profile.create.form.zipCode.help")
                        )

                        @b3.text(profileDataForm("city"),
                            'id -> "city",
                            '_label -> Messages("profile.create.form.city"),
                            '_help -> Messages("profile.create.form.city.help")
                        )

                        @if(optionsLocationAreas.isDefined) {
                            @b3.select(profileDataForm("county"),
                                optionsLocationAreas.get,
                                '_label -> Messages("profile.create.form.county"),
                                '_help -> Messages("profile.create.form.county.help"),
                                'value -> profileDataForm("county").value
                            )
                        }

                        @b3.text(profileDataForm("phoneNumber"),
                            'id -> "phoneNumber",
                            '_label -> Messages("profile.create.form.phoneNumber"),
                            '_help -> Messages("profile.create.form.phoneNumber.help")
                        )

                        @b3.text(profileDataForm("personnummer"),
                            'id -> "personnummer",
                            '_label -> Messages("profile.create.form.personnummer"),
                            '_help -> Messages("profile.create.form.personnummer.help")
                        )
                        <div class="row">
                            <div class="col-md-offset-4 col-md-6">
                                <strong>@Messages("profile.create.form.personnummer.extra-info.header")</strong>
                                <p>@Messages("profile.create.form.personnummer.extra-info.body")</p>
                            </div>
                        </div>

                        <label class="control-label col-md-4">@Messages("hdc.securesocial.login.newPassword-label")</label>
                        <div class="col-md-4">
                            <a class="btn btn-warning" href="@securesocial.controllers.routes.PasswordReset.startResetPassword">@Messages("hdc.securesocial.login.newPassword")</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane tab-hdc fade" id="profile-tab-host">
                    <div class="col-xs-12">
                        <h3 class="lead">@Messages("profile.create.header.host")</h3>
                        <!-- Choice of Guest and host -->
                        @b3.checkbox(profileDataForm("options.wantsToBeHost"),
                            'id -> "options.wantsToBeHost",
                            '_text -> Messages("profile.create.form.host-text"),
                            '_label -> Messages("profile.create.form.host-label")
                        )
                        <hr>

                        <!-- Payment options -->
                        @b3.checkbox(profileDataForm("options.payCash"),
                            'id -> "options.payCash",
                            '_text -> Messages("profile.payment.cash"),
                            '_label -> Messages("profile.create.form.host.payment.header")
                        )
                        @b3.checkbox(profileDataForm("options.paySwish"),
                            'id -> "options.paySwish",
                            '_text -> Messages("profile.payment.Swish")
                        )
                        @b3.checkbox(profileDataForm("options.payBankCard"),
                            'id -> "options.payBankCard",
                            '_text -> Messages("profile.payment.banktransfer")
                        )
                        @b3.checkbox(profileDataForm("options.payIZettle"),
                            'id -> "options.payIZettle",
                            '_text -> Messages("profile.payment.izettle")
                        )

                    </div>
                </div>

                <div class="tab-pane tab-hdc fade" id="profile-tab-media">
                    <div class="col-xs-12">
                        <h3 class="lead">@Messages("profile.create.header.media")</h3>
                        <div class="form-group">
                            <label class="control-label col-md-4">@Messages("profile.create.label.media")</label>
                            <div class="col-md-4">
                                @file.openModalButton(btnId = "btneditmedia", btnText = Messages("profile.create.form.open-media-btn"), editMode = true)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <hr>
                <input class="btn btn-primary btn-lg" type="submit" value="@Messages("profile.create.save")">
            </div>

        }
        </div>
    </div>




    <!-- Modal acceptTerms-->
    <div class="modal fade" id="modalAcceptTerms" tabindex="-1" role="dialog" aria-labelledby="modalAcceptTermsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Messages("profile.create.accept.modal.close")</span></button>
                    <h4 class="modal-title" id="modalAcceptTermsLabel">
                    @if(termsAndConditions.nonEmpty) {
                        @termsAndConditions.get.title
                    } else {
                        @Messages("profile.create.accept.modal.header")
                    }
                    </h4>
                </div>
                <div class="modal-body">
                @if(termsAndConditions.nonEmpty) {
                    @Html(termsAndConditions.get.preamble)
                    @Html(termsAndConditions.get.mainBody)
                } else {
                    @Messages("profile.create.accept.modal.body")
                }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("profile.create.accept.modal.close")</button>
                </div>
            </div>
        </div>
    </div>

}