@(userProfile: models.UserProfile,
        menuItems: Seq[(String, String, String, String)],
        tab1: String,
        tab2: String,
        tab3: String,
        tab4: String,
        recipeBoxes: Option[List[models.viewmodels.RecipeBox]] = None,
        isThisMyProfile: Boolean = false)(implicit request: RequestHeader)

@main(Messages("profile.title")) {

    <div class="container host-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @views.html.profile.profileHeader(userProfile.profileLinkName)
                <div class="row">
                    <div class="col-xs-12 col-md-6 big-margin-top">
                        <section>
                            <article>
                                <h1 class="page-header">@userProfile.getOwner.fullName</h1>
                                <h2>@userProfile.aboutMeHeadline</h2>
                                @shared.grade(inputId = "host-grade", initialValue = userProfile.getOwner.getAverageRating, size = "xs", cssClass = "hdc-grade-pull-left", disabled = true, showCaption = false, showNrOfRatings = true, nrOfRatings = userProfile.getOwner.getNrOfRatings)
                                <div class="memberid clearfix"><p><strong>@Messages("profile.memberid.text")</strong>&nbsp;@userProfile.getOwner.objectId</p></div>
                                <div class="breadtext">
                                    @Html(userProfile.aboutMe)
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-6 big-margin-top host-image-gallery">

                        <div id="host-main-carousel" data-ride="carousel" data-interval="4000" class="carousel slide">
                            <!-- Slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">@shared.img("images/host/image1.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="1">@shared.img("images/host/image2.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="2">@shared.img("images/host/image3.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="3">@shared.img("images/host/image4.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="4">@shared.img("images/host/image5.jpg", cssClass = "img-responsive")</div>
                            </div>
                            <!-- Carousel nav controls -->
                            <a class="carousel-control left hidden-md hidden-lg" href="#host-main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="carousel-control right hidden-md hidden-lg" href="#host-main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        <!-- Thumbnails, don't show responsive -->
                        <ul class="host-main-carousel-thumbs list-inline hidden-xs hidden-sm">
                            <li class="col-md-3"><a id="carousel-selector-0" class="selected">@shared.img("images/host/image1.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-1">@shared.img("images/host/image2.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-2">@shared.img("images/host/image3.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-3">@shared.img("images/host/image4.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-4">@shared.img("images/host/image5.jpg", cssClass = "img-responsive")</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 big-margin-top">
                        <nav>
                            <ul class="nav nav-tabs">
                            @for(nav <- menuItems) {
                                <li class="@nav._4"><a data-toggle="tab" href="#@nav._3" title="@nav._2">@nav._1</a></li>
                            }
                            </ul>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane tab-hdc fade in active" id="@tab1">
                                <div class="row">
                                @if(isThisMyProfile) {
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-edit-group">
                                            <a href="@controllers.routes.RecipePageController.add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @Messages("profile.button.recipe.add")</a>
                                        </div>
                                    </div>
                                }
                                @if(recipeBoxes.nonEmpty){
                                    @recipe.recipeBox(recipeBoxes.get)
                                }
                                </div>
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab2">
                                Tab2
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab3">
                                Tab3
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab4">
                                Tab4
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}