@(userProfile: models.UserProfile,
        tab1: String,
        tab2: String,
        tab3: String,
        tab4: String,
        tab5: String,
        recipeBoxes: Option[List[models.viewmodels.RecipeBox]] = None,
        myReviewBoxes: Option[List[models.viewmodels.ReviewBox]] = None,
        reviewBoxesAboutMe: Option[List[models.viewmodels.ReviewBox]] = None,
        tagList: Option[List[models.profile.TagWord]] = None,
        isThisMyProfile: Boolean = false)(implicit request: RequestHeader, flash: Flash)

    @pageScripts= {
        <script>
            var showChar = 50;
            var ellipsestext = "...";
            var moretext = "mer";
            var lesstext = "mindre";

            $(document).ready(function(){

                var url = document.location.toString();
                if (url.match('#')) {
                    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
                    var msgId = url.split('#')[2 ].split("Some(")[1].substring(0, url.split('#')[2 ].split("Some(")[1 ].length -1);


                    $('#expandBtn_' + msgId).click();
                }

            $(".expandBtn1").click(function(){

                var btnArray = this.id.split("expandBtn_" );

                $.get("/profile/mark?msgId=" + btnArray[1] + "&tid=" + new Date().toString(),function(data,status){
                    $( "#chkMark_" + btnArray[1] ).show();
                    $( "#mail_" + btnArray[1] ).hide();
                });
            });

            $('.more').each(function() {
                var content = $(this).html();

                if(content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar-1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }
            });

            $(".morelink").click(function(){
                if($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                    $(this).parent().prev().toggle();
                    $(this).prev().toggle();
                    return false;
            });

        $("#rf").click(function(){
        $.get("/profile/favorite/remove?userCredentialObjectId=@userProfile.getOwner().objectId&tid=" + new Date().toString(),function(data,status){
            $( "#af" ).show();
            $( "#rf" ).hide();
         alert('Favorit borttagen!');
        });
        });


        $("#af").click(function(){
        $.get("/profile/favorite/add?userCredentialObjectId=@userProfile.getOwner().objectId&tid=" + new Date().toString(),function(data,status){
        $( "#af" ).hide();
        $( "#rf" ).show();
         alert('Favorit tillagd!')
        });
        });



        $.get("/profile/favorite/isFav?userCredentialObjectId=@userProfile.getOwner().objectId&tid=" + new Date().toString(),function(data,status){
        if(data =="YES") {
            $( "#af" ).hide();
            $( "#rf" ).show();
        } else if(data == "NO") {
            $( "#af" ).show();
            $( "#rf" ).hide();

        } else {
            $( "#af,#rf,#afrf-wrapper" ).hide();
        }

        });

        });
        </script>
    }

@main(Messages("profile.title"), footerScripts = pageScripts) {
    <div class="container host-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                @defining(if(userProfile.getAvatarImage != null){userProfile.getAvatarImage.getTransformByName("thumbnail").getUrl}else{""}){ avatarUrl =>
                    @views.html.profile.profileHeader(userProfile.profileLinkName, avatarUrl, false)
                }
                <div class="row">
                    <div class="col-xs-12 col-md-6 big-margin-top">
                        <section>
                            <article>
                                <h1 class="page-header">@userProfile.getOwner.firstName</h1>
                                @shared.grade(inputId = "host-grade", initialValue = userProfile.getOwner.getAverageRating, size = "xs", cssClass = "hdc-grade-pull-left pull-left", disabled = true, showCaption = false, showNrOfRatings = true, nrOfRatings = userProfile.getOwner.getNrOfRatings)
                                @if(!isThisMyProfile) {
                                    @RatingController.renderUserRateForm(userProfile.getOwner, routes.UserProfileController.viewProfileByName(userProfile.profileLinkName).url)(request)
                                }

                                @* Member id hidden for now:
                                <div class="memberid clearfix"><p><strong>@Messages("profile.memberid.text")</strong>&nbsp;@userProfile.getOwner.objectId</p></div>*@

                                @*  Share / Like / Fav *@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="afrf-wrapper" class="btn-group-likes">
                                            <a id="af" hidden="true" class="btn btn-default btn-favorite" title="@Messages("favorite.add.title")"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;@Messages("favorite.add.text")</a>
                                            <a id="rf" hidden="true" class="btn btn-default btn-favorite btn-favorite-active" title="@Messages("favorite.remove.title")"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;@Messages("favorite.remove.text")</a>
                                        </div>
                                        @LikeController.renderUserLikeForm(userProfile.getOwner)(request)
                                        @shared.fbShare(url = request.uri)
                                    </div>
                                </div>
                                <hr class="hr-orange hr-like">

                                <h2>@userProfile.aboutMeHeadline</h2>




                                <p id="result"></p>

                                <div class="breadtext">
                                    @Html(userProfile.aboutMe)
                                </div>
                                @shared.flashmsg(flash)
                                @* Send request *@
                                @if(!isThisMyProfile && userProfile.isUserHost) {

                                    @MessagesController.renderHostForm(userProfile.getOwner)(request)
                                }
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-6 big-margin-top">
                        @userProfile.getMainImage match {
                            case null => {}
                            case image: models.files.ContentFile => {
                                <div id="host-main-carousel" data-ride="carousel" data-interval="4000" class="carousel slide host-image-gallery">
                                        <!-- Slider carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">@shared.img(image.getTransformByName("normal").getUrl, cssClass = "img-responsive")</div>
                                    </div>
                                    @*<!-- Carousel nav controls -->*@
                                    @*<a class="carousel-control left hidden-md hidden-lg" href="#host-main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>*@
                                    @*<a class="carousel-control right hidden-md hidden-lg" href="#host-main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>*@
                                </div>
                                @*<!-- Thumbnails, don't show responsive -->*@
                                @*<ul class="host-main-carousel-thumbs list-inline hidden-xs hidden-sm">*@
                                @*<li class="col-md-3"><a id="carousel-selector-0" class="selected">@shared.img("images/host/image1.jpg", cssClass = "img-responsive")</a></li>*@
                                @*<li class="col-md-3"><a id="carousel-selector-1">@shared.img("images/host/image2.jpg", cssClass = "img-responsive")</a></li>*@
                                @*<li class="col-md-3"><a id="carousel-selector-2">@shared.img("images/host/image3.jpg", cssClass = "img-responsive")</a></li>*@
                                @*<li class="col-md-3"><a id="carousel-selector-3">@shared.img("images/host/image4.jpg", cssClass = "img-responsive")</a></li>*@
                                @*<li class="col-md-3"><a id="carousel-selector-4">@shared.img("images/host/image5.jpg", cssClass = "img-responsive")</a></li>*@
                                @*</ul>*@
                            }
                        }

                        <div class="panel panel-default panel-dropshadow big-margin-top">
                            <div class="panel-body">
                                @shared.tagList(tagList, userProfile.getOwner.firstName())
                                <br><strong>Namn:</strong> @userProfile.fistName
                                <br><strong>Stad:</strong> @userProfile.city
                                <br>@if(userProfile.getLocations.iterator().hasNext()){
                                <strong>@Messages("profile.county.text")</strong> @userProfile.getLocations.iterator().next().county.name
                                }
                                <br><strong>Barnvänligt:</strong> @userProfile.childFfriendly
                                <br><strong>Handikapvänligt:</strong> @userProfile.handicapFriendly
                                <br><strong>Husdjur:</strong> @userProfile.havePets
                                <br><strong>Rökare :</strong> @userProfile.smoke
                                <br><strong>Alkohol :</strong> @userProfile.allkoholServing



                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 big-margin-top">
                        <nav>
                            <ul class="nav nav-tabs nav-tabs-profile">
                                <li class="active"><a data-toggle="tab" href="#@tab1" title="@Messages("profile.tabs.food.title")">@Messages("profile.tabs.food.name")</a></li>
                                <li><a data-toggle="tab" href="#@tab2" title="@Messages("profile.tabs.blog.title")">@Messages("profile.tabs.blog.name")</a></li>
                                <li><a data-toggle="tab" href="#@tab3" title="@Messages("profile.tabs.ratings.title")">@Messages("profile.tabs.ratings.name")</a></li>
                                @if(isThisMyProfile) {
                                    <li><a data-toggle="tab" href="#@tab4" title="@Messages("profile.tabs.inbox.title")">@Messages("profile.tabs.inbox.name")</a></li>
                                    <li><a data-toggle="tab" href="#@tab5" title="@Messages("profile.tabs.favourites.title")"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;@Messages("profile.tabs.favourites.name")</a></li>
                                }
                            </ul>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane tab-hdc fade in active" id="@tab1">
                                <div class="row">
                                @if(isThisMyProfile) {
                                    <div class="col-xs-12">
                                        <div class="btn-group btn-edit-group">
                                            <a href="@controllers.routes.RecipePageController.add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @Messages("profile.button.recipe.add")</a>
                                        </div>
                                    </div>
                                }
                                </div>
                                @if(recipeBoxes.nonEmpty){
                                    <div class="row">
                                        @recipe.recipeBox(recipeBoxes.get)
                                    </div>
                                }
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab2">
                                Tab2
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab3">
                                <!-- Reviews -->
                                @if(reviewBoxesAboutMe.nonEmpty){
                                    <div class="row">
                                        <div class="col-xs-12"><h3>@Messages("profile.reviews.reviews.aboutme.header")</h3></div>
                                        @shared.reviewBox(reviewBoxesAboutMe.get)
                                    </div>
                                }
                                @if(myReviewBoxes.nonEmpty){
                                    <div class="row big-margin-top">
                                        <div class="col-xs-12"><h3>@Messages("profile.reviews.myreviews.user.header")</h3></div>
                                        @shared.reviewBox(myReviewBoxes.get)
                                    </div>
                                }
                            </div>
                            <div class="tab-pane tab-hdc fade" id="@tab4">
                                @if(isThisMyProfile && userProfile.getOwner.getMessages.nonEmpty) {

                                    <table class="table inboxTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>@Messages("mails.inbox.header.from")</th>
                                                <th>@Messages("mails.inbox.header.sent")</th>
                                                <th>@Messages("mails.inbox.header.date")</th>
                                                <th>@Messages("mails.inbox.header.message")</th>
                                                <th>@Messages("mails.inbox.header.expand")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(msg <- userProfile.getOwner.getMessages) {
                                                @MessagesController.renderHostReplyForm(msg)(request)
                                            }
                                        </tbody>
                                    </table>

                                }
                            </div>
                            @if(isThisMyProfile) {
                            <div class="tab-pane tab-hdc fade" id="@tab5">
                                @FavoritesController.renderFavorites(userProfile)
                            </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner()
            </div>
        </div>
    </div>
}