@(userProfile: models.UserProfile, menuItems: Seq[(String, String, String, String)], tab1: String, tab2: String, tab3: String, tab4: String)(implicit request: RequestHeader)

@main(Messages("host.title")) {

    <div class="container host-container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-md-12 big-margin-top">
                        <div class="host-header">
                            <header>
                            <h2>@userProfile.profileLinkName</h2>
                            @shared.hostImageCircle()
                        </header>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 big-margin-top">
                        <section>
                            <article>
                                <h1 class="page-header">@userProfile.getOwner.fullName</h1>
                                <h3>@userProfile.aboutMeHeadline</h3>
                                @shared.grade(inputId = "host-grade", initialValue = userProfile.getOwner.getAverageRating, size = "xs", showCaption = true)
                                <div class="memberid"><p>@Messages("profile.memberid.text")&nbsp;@userProfile.getOwner.objectId</p></div>
                                <div class="breadtext">
                                    @Html(userProfile.aboutMe)
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="col-xs-12 col-md-6 big-margin-top host-image-gallery">

                        <div id="host-main-carousel" data-ride="carousel" data-interval="4000" class="carousel slide">
                            <!-- Slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">@shared.img("../../../public/images/host/image1.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="1">@shared.img("../../../public/images/host/image2.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="2">@shared.img("../../../public/images/host/image3.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="3">@shared.img("../../../public/images/host/image4.jpg", cssClass = "img-responsive")</div>
                                <div class="item" data-slide-number="4">@shared.img("../../../public/images/host/image5.jpg", cssClass = "img-responsive")</div>
                            </div>
                            <!-- Carousel nav controls -->
                            <a class="carousel-control left hidden-md hidden-lg" href="#host-main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="carousel-control right hidden-md hidden-lg" href="#host-main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        <!-- Thumbnails, don't show responsive -->
                        <ul class="host-main-carousel-thumbs list-inline hidden-xs hidden-sm">
                            <li class="col-md-3"><a id="carousel-selector-0" class="selected">@shared.img("../../../public/images/host/image1.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-1">@shared.img("../../../public/images/host/image2.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-2">@shared.img("../../../public/images/host/image3.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-3">@shared.img("../../../public/images/host/image4.jpg", cssClass = "img-responsive")</a></li>
                            <li class="col-md-3"><a id="carousel-selector-4">@shared.img("../../../public/images/host/image5.jpg", cssClass = "img-responsive")</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 big-margin-top">
                        <nav>
                            <ul class="nav nav-tabs">
                            @for(nav <- menuItems) {
                                <li class="@nav._4"><a data-toggle="tab" href="#@nav._3" title="@nav._2">@nav._1</a></li>
                            }
                            </ul>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="@tab1">
                                Tab1
                            </div>
                            <div class="tab-pane fade" id="@tab2">
                                Tab2
                            </div>
                            <div class="tab-pane fade" id="@tab3">
                                Tab3
                            </div>
                            <div class="tab-pane fade" id="@tab4">
                                Tab4
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Banner -->
            <div class="col-xs-12 col-md-3 col-banner">
                @shared.banner("../../../public/images/banners/banner-0001.png","http://www.bannertarget.se","Senaste nyheterna","Senaste nyheterna")
            </div>
        </div>
    </div>
}