@(bookingsMadeToMyEvents: Option[List[EventBookingSuccess]], bookingsMadeByMe: Option[List[EventBookingSuccess]], isThisMyProfile: Boolean)(implicit messages: Messages)
@if(isThisMyProfile) {

    <div class="col-xs-12 col-sm-6">
        <h2>@Messages("profile.bookings.bookings-made-by-me.header")<br>
            <small>@Messages("profile.bookings.bookings-made-by-me.sub-header")</small>
        </h2>
        @if(bookingsMadeByMe.nonEmpty) {
            @views.html.event.bookingList("my-bookings", bookingsMadeByMe)
        } else {
            <div class="well well-hdc">
            @Messages("profile.bookings.no-entries")
            </div>
        }
    </div>

    <div class="col-xs-12 col-sm-6">
        <h2>@Messages("profile.bookings.bookings-to-my-events.header")<br>
            <small>@Messages("profile.bookings.bookings-to-my-events.sub-header")</small>
        </h2>
        @if(bookingsMadeToMyEvents.nonEmpty) {
                @views.html.event.bookingList("bookings-to-my-events", bookingsMadeToMyEvents)
        } else {
            <div class="well well-hdc">
                @Messages("profile.bookings.no-entries")
            </div>
        }
    </div>


}