@(tagList: Option[List[String]], userProfile: UserProfile)(implicit messages: Messages)

<div class="panel panel-default panel-dropshadow margin-top">
    <div class="panel-body">
        @shared.tagList(tagList, userProfile.getOwner.firstName)
    <br><strong>@Messages("profile.firstname.label")</strong> <span class="sentence-case">@customUtils.Helpers.titleCase(userProfile.getOwner.firstName)</span>
    <br><strong>@Messages("profile.city.label")</strong> <span class="sentence-case">@customUtils.Helpers.titleCase(userProfile.city)</span>
    <br>@if(userProfile.getLocations.iterator().hasNext()) {
        <strong>@Messages("profile.county.text")</strong> <span class="sentence-case">@customUtils.Helpers.titleCase(userProfile.getLocations.iterator().next().county.name)</span>
    }
    <br><strong>@Messages("profile.payment.label")</strong>
    <span class="sentence-case">
        @if(userProfile.payCash) {
            @Messages("profile.payment.cash")
        }
        @if(userProfile.payBankCard) {
            @Messages("profile.payment.banktransfer")
        }
        @if(userProfile.payIZettle) {
            @Messages("profile.payment.izettle")
        }
        @if(userProfile.paySwish) {
            @Messages("profile.payment.Swish")
        }
    </span>
    <hr>
    <strong>@Messages("profile.options.moved-info.header")</strong>
    <br>@Html(Messages("profile.options.moved-info"))
    </div>
</div>