@(userProfile: UserProfile)(implicit messages: Messages)

<div id="afrf-wrapper" class="btn-group-likes" data-owner-id="@userProfile.getOwner().objectId">
  <a id="af" class="btn btn-default btn-favorite" title="@Messages("favorite.add.title")"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;@Messages("favorite.add.text")</a>
  <a id="rf" class="btn btn-default btn-favorite btn-favorite-active" title="@Messages("favorite.remove.title")"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;@Messages("favorite.remove.text")</a>
</div>