@(EnvDataForm: Form[controllers.EnvData], element : List[Type], klass : Types)(implicit request: RequestHeader)

@helper.form(action = routes.UserProfileController.taemot) {

<BR>
Profil

@for(t <- element) {
<br>

    <!-- checkbox -->
<input type="checkbox" id="@t.name" name="@t.v" value="@t.name" @klass.getString(t.name)>
@t.name
</input>
}

 <br>

    Beskrivning:
   <textarea rows="10" cols="100" name="aboutme" id="aboutme">

   </textarea>


    @helper.inputText(EnvDataForm("description"),
        'id -> "description",
        '_showErrors -> true,
        '_label -> "Beskrivning",
        '_help -> "Bskriv dig själv"
    )




@helper.inputText(EnvDataForm("name"),
'id -> "name",
'_showErrors -> true,
'_label -> "Name",
'_help -> "e-post"
)

@helper.inputText(EnvDataForm("emails[0]"),
'id -> "idno",
'_showErrors -> true,
'_label -> "E-post",
'_help -> "e-post"
)

@helper.inputText(EnvDataForm("emails[1]"),
'id -> "idno",
'_showErrors -> true,
'_label -> "E-post",
'_help -> "e-post"
)

@helper.inputText(EnvDataForm("emails[2]"),
'id -> "idno",
'_showErrors -> true,
'_label -> "E-post",
'_help -> "e-post"
)


<input type="submit" value="Spara">


}