@(EnvDataForm: Form[controllers.EnvData],
        element: List[Type],
        klass: Types,
        optionsLocationAreas: Option[Seq[(String,String)]] = None)(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie)

@main(Messages("profile.title")){

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>@Messages("profile.create.title")</h1>
                </div>
                <p>@Messages("profile.create.text")</p>

                @shared.flashmsg(flash)

                @helper.form(action = routes.UserProfileController.editSubmit()) {
                <div class="panel panel-default">
                    <div class="panel-heading">@Messages("profile.create.header.user")</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                @helper.inputText(EnvDataForm("name"),
                                    'id -> "name",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.profilename"),
                                    '_help -> Html(Messages("profile.create.form.profilename.help"))
                                )
                            </li>
                            <li class="list-group-item">
                                @helper.inputText(EnvDataForm("aboutmeheadline"),
                                    'id -> "aboutmeheadline",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.aboutmeheadline"),
                                    '_help -> Messages("profile.create.form.aboutmeheadline.help")
                                )

                                @helper.textarea(EnvDataForm("aboutme"),
                                    'id -> "aboutme",
                                    '_showErrors -> true,
                                    'class -> "richtextuser",
                                    '_label -> Messages("profile.create.form.aboutme"),
                                    '_help -> Messages("profile.create.form.aboutme.help")
                                )

                                @helper.inputText(EnvDataForm("streetAddress"),
                                    'id -> "streetAddress",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.streetAddress"),
                                    '_help -> Messages("profile.create.form.streetAddress.help")
                                )

                                @helper.inputText(EnvDataForm("zipCode"),
                                    'id -> "zipCode",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.zipCode"),
                                    '_help -> Messages("profile.create.form.zipCode.help")
                                )

                                @helper.inputText(EnvDataForm("city"),
                                    'id -> "city",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.city"),
                                    '_help -> Messages("profile.create.form.city.help")
                                )


                                @helper.inputText(EnvDataForm("phoneNumber"),
                                    'id -> "city",
                                    '_showErrors -> true,
                                    '_label -> Messages("profile.create.form.phoneNumber"),
                                    '_help -> Messages("profile.create.form.phoneNumber.help")
                                )

                                @if(!optionsLocationAreas.isEmpty) {
                                        @helper.select(EnvDataForm("county"),
                                        optionsLocationAreas.get,
                                        '_label -> Messages("profile.create.form.area")
                                    )
                                }


                            </li>
                        </ul>
                    </div>
                </div>

                    <div class="panel panel-default">
                    <div class="panel-heading">@Messages("profile.create.header.food")</div>
                    <div class="panel-body">
                        <label>@Messages("profile.create.form.tagwords")</label><br>
                        @for(t <- element) {
                            <input type="checkbox" id="@t.name" name="@t.v" value="@t.name" @klass.getString(t.name)>
                            &nbsp;
                            <label for="@t.name" class="notbold">@t.name</label><br>
                        }
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="@Messages("profile.create.save")">
                }
            </div>
        </div>
    </div>
}