@(TagDataForm: Form[controllers.TagsData],
        element: List[Type],
        klass: Types)(implicit request: RequestHeader, flash: Flash = Flash.emptyCookie)

@main(Messages("profile.title")){

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>@Messages("profile.create.title")</h1>
                </div>
                <p>@Messages("profile.create.text")</p>

                @shared.flashmsg(flash)

                @helper.form(action = routes.UserProfileController.saveTags()) {


                    <div class="panel panel-default">
                        <div class="panel-heading">@Messages("profile.create.header.food")</div>
                        <div class="panel-body">
                            <label>@Messages("profile.create.form.tagwords")</label><br>
                            @for(t <- element) {
                                <input type="checkbox" id="@t.name" name="@t.v" value="@t.name" @klass.getString(t.name)>
                                &nbsp;
                                <label for="@t.name" class="notbold">@t.name</label><br>
                                }
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="@Messages("profile.create.save")">
                    }
            </div>
        </div>
    </div>
}