@(visMemberCount: Option[Int], visUnknownCount: Option[Int], isThisMyProfile: Boolean)(implicit messages: Messages)
@if(isThisMyProfile) {
  <div class="panel panel-default panel-dropshadow big-margin-top">
    <div class="panel-body">
      <strong>@Messages("profile.visitors.header")</strong><br>

      <table>
        <tr>
          <td>@Messages("profile.visitors.logged-in")</td>
          <td align="right">
          @{visMemberCount match {
            case None => { 0 }
            case Some(c) => { c }
          }}
          </td>
        </tr>
        <tr>
          <td>@Messages("profile.visitors.not-logged-in")</td>
          <td align="right">
            @{visUnknownCount match {
              case None => { 0 }
              case Some(c) => { c }
            }}
          </td>
        </tr>
      </table>

    </div>
  </div>
}