@(userProfile: UserProfile, isThisMyProfile: Boolean)(implicit messages: Messages)
@if(isThisMyProfile) {
  <div class="panel panel-default panel-dropshadow big-margin-top">
    <div class="panel-body">
      <strong>@Messages("profile.visitors.header")</strong><br>
      <table style="width:100%">
        <tr>
          <td>@Messages("profile.visitors.logged-in")</td>
          <td align="right">
          @{userProfile.getmemberVisited() match {
            case  null => { 0 }
            case _ => { userProfile.getmemberVisited().getSize }
          }}
          </td>
        </tr>
        <tr>
          <td>@Messages("profile.visitors.not-logged-in")</td>
          <td align="right">
          @{userProfile.getUnKnownVisited() match {
            case  null => { 0 }
            case _ => { userProfile.getUnKnownVisited().getSize }
          }}
          </td>
        </tr>
      </table>

    </div>
  </div>
}